## Course Overview 

Upon completion of this study unit, you should be able to:    

- Perform basic arithmetic operations in Python

- Work with different data types

- Assign values to variables and be guided with variable naming convention

- Work with comparison and logical operators

# Python as a Calculator

In its most basic form, Python can be used as a calculator to perform basic arithmetic operations.

![](Images/Pytcal.png)

Consider the following arithmetic operations:
    
- Addition

- Subtraction

- Multiplication

- Division

- Exponentiation (or Powers)

- Modulo

![](Images/python_operator.png)

# Tips

`+`, `-`, `*`, `/`, `**`, `%` are called arithmetic operators

## Expressions <a id=expression></a>

Python is well able to perform the well know mathematical operations. An expression is an operation or a set of operations in python that can evaluated to determine its value i.e. $1 + 2$ is an expression and the result $3$ is a value.

# Addition

Add 8 and 2 together i.e. 8 + 2

In [1]:
8 + 2

10

Calculate 1 + 3 + 2

In [2]:
1 + 3 + 2

6

Train the teachers programme consists teachers from seven (7) different schools across Nigeria.  7 are from Oyo, 15 are from Lagos, 10 are from Kano, 18 are from Abia, 6 are from Adamawa, 11 are Imo while the remaining 14 are from Kaduna. How many teachers are in the programme altogether?

In [3]:
7 + 15 + 10 + 18 + 6 + 11 + 14

81

# Subtraction

Calculate `8 - 5`

In [4]:
8 - 5

3

Calculate `20 - 15`

In [5]:
20-15

5

There are 30 sweets in a box, Ezekiel picked 6 sweets from the box, Lekan picked 8 sweets, Funmi picked 5 while Lynda picked 4. How many sweet is remaining in the box.

In [6]:
30 - 6 - 8 - 5 -4

7

There are 7 sweets that are still remaining

# Multiplication

What is $2 \times 3$?

In [7]:
2 * 3

6

What is $5 \times 4$?

In [8]:
5 * 4

20

What is $-2 \times 4$ ?

In [9]:
-2 * 4

-8

What is $3 \times 3$ ?

In [10]:
3 x 3

SyntaxError: invalid syntax (<ipython-input-10-ffb2b8152026>, line 1)

It is quite common in programming to make mistakes, even for programmers with years of experience. For most of the part, python will tell you where you have made a mistake by giving an error message. It is important to read the message and understand where you have made a mistake and resolve it. In this case, our error is where we have use $\times$ instead of *. Therefore, we correct the error as shown in the cell below:

In [ ]:
3 * 3

# Tips

It is quite common in programming to write mistakes, even for programmers with years and years of experience. For most of the part,python will tell you whether you have made a mistake by giving an error message. It is important to read the message and understand where you have made a mistake and how to resolve it.

In [ ]:
3 * 3

# Division 

Calculate `10 / 5`

In [ ]:
10 / 5

Calculate `200 / 20`

In [ ]:
200 / 20

Calculate `11 / 2`

In [ ]:
11 / 2

# Exponentiation (or Powers)

Calculate   $4^2$

In [ ]:
4 ** 2

Calculate $3^2$

In [ ]:
3 ** 2

`Calculate` $9^2$

In [ ]:
9 ** 2

# Modulus 

The modulo (or "modulus" or "mod") is the remainder after dividing one number by another. For example, $9$ $mod$ $2$ $= 1$. Because $9/2 = 4$ with a remainder of $1$. In mathematics, we write that as $9$ $mod$ $2 = 1$ and in Python we write it as $9$  \% $2 = 1$



`Calculate`  9 mod 2

In [ ]:
9 % 2

Calculate $11$ \% $3$

In [ ]:
11 % 3

That is, 2 is the remainder when you divide 11 by 3

 `Calculate` $21$ \% $4$

In [ ]:
21 % 4

`Calculate` 15 \% 6

In [ ]:
15 % 6

# Tip

The function `divmod()` in Python can be used to get the quotient and the remainder when dividing a number by another number. A quotient in mathematics is the actual result of the division of two numbers.

# Example

When you divide 5 by 2, the actual result is 2 and the remainder is 1

In [ ]:
divmod(5, 2)

The quotient is 2 and the remainder is 1

# Class activity 1

What is the result of $divmod(18, 4)$?

# The floor division (//)

The floor division (`//`) rounds the result down to the nearest whole number

# Example 1

This is a normal division

In [ ]:
15 / 2

# Example 2

This is a floor division

In [ ]:
15 // 2

# Class activity 2 (Peer dicussion)

Calculate the following in Python:
    
- 2 + 6 -12

- 4 * 3  - 8

- 81/6

- 9 mod 2

- 16 \% 3

- $2^3$

- divmod(17, 5)

- 11 // 5

# Parentheses or brackets

Parentheses are used to denote grouping of operation in mathematics.It denotes modifications to normal order of operations. Remember BODMAS in mathematics? We shall use BEDMAS in programming:

B - Bracket

E - Exponentiation

D - Division

M - Multilication

A - Addition

S - Subtraction


In an expression like $3 \times (2 + 3)$, the part of the expression within the parentheses, $(2 + 3) = 5$, is evaluated first, and then this result is used in the rest of the expression i.e. $3 \times 5  = 15$.

# Example 1

In [ ]:
3 * (2 + 3)

# Example 2

$2^2 + 1$

In [ ]:
2**2 + 1

# Example 3

$(3 + 2) \times (6 − 4)$

In [ ]:
(3 + 2) * (6 - 4)

# Example 4

Use python to evaluate $2(3+1)$

In [ ]:
2(3+1)

This throws an error because we need to add an operator (*) before the parentheses or brackets.

In [ ]:
2*(3+1)

# Tips

There must be an operator ($+, -, *, /$) before and/or after the parentheses.

# Example 1

What is the value of $3 \times (3 + 2)$ ?

In [ ]:
3 * (3 + 2)

# Example 2

Calculate $(8-7) \times 2$

In [ ]:
(8-7) * 2

# Example 3

What is the value of (6 - 4) + 2 ?

In [ ]:
(6 - 4) + 2

# Example 4

What is the value of $(3 + 2) \times (6 - 4) + 2$ ?

In [ ]:
(3 + 2) * (6 - 4) + 2

# Comment in Python

Adding comments to your code is a common practise in all programming languages.

This is important because:
    
1. It makes you remember a line of code you have written after leaving it for a while

2. It makes other who want to check your code to understand it line by line 

3. It is good for documentation purpose

In order to add comments to your codes, you will use the `#` sign before writing your comments.

# Tip

Comments are not run as Python code, so they will not influence your result. Python ignores any anything that has `#` sign.

# Example 1

In [ ]:
# This adds 2 and 8 together. The result will be 10

2 + 8

As you can see, `This adds 2 and 8 together. The result will be 10` is our comment and we do that by using `#` sign.

# Example 2

In [ ]:
# You will know how to import packages in Python later

# to get square root of a number, we will import numpy package and then use numpy.sqrt() function


import numpy

numpy.sqrt(4)

As you can see, we use `#` to tell you want you about to learn and how to get the square root of a number by using a comment.

# Comparison operators

We can compare two or more values by using comparison operators. These types of operators compare one value to another based on a condition. The result can either be `True` or `False` known as boolean (bool). The following are the most common comparison operators in python:

1. double equal to: `==`

2. not equal to `!=`

3. greater than`>`

4. less than `<`

5. greater than or equal to: `>=`

6. less than or equal to: `<=`

# Double equal operator `==`

This operator returns `True` if the two values are equal, otherwise it returns `False`

In [ ]:
# Is 5 equal to 3?

5 == 3

As you know the answer is `False`.

In [ ]:
# is 5 equal to 5

5 == 5

Yes! 5 is equal to 5.

In [ ]:
# Below we compare whether two numbers i.e. 5 and 7 are equal

5 == 7

Since the two values are not equal, then the result is `False`

# Class activity

Write a code to compare 5 and 6

# Not equal to operator `!=`

This operator returns `True` if the two values are not equal to each other, otherwise it returns `False`.

In [ ]:
# Below we compare whether 5 is not equal to 10

5 != 10

In [ ]:
# Below we compare whether 200 is not equal 100

200 != 100

# Greater than operator `>`

This operator returns `True` if the value on the left side of operator (>) is bigger than the value on the right side of the operator and `False` if otherwise.

In [ ]:
# is 100 greater than 30?

100 > 30

Since `100` is greater than `5`, the result is `True`

In [ ]:
# is -60 greater than 50?

-60 > 50

The answer is False. 50 is greater than -60

In [ ]:
# is -6 greater than - 5?

-6 > -5

As you can see, $-6$ is less than $-5$.

# Less than operator `<`

This operator returns `True` if the value on the left side of the operator (<) is smaller than value on the right side of the operator and `False` if otherwise.

In [ ]:
# is 100 less than 1000

100 < 1000

The result of the above expression is True since 100 is less than 10000

In [ ]:
# is -6 less than - 5?

-6 < -5

As you can see,  −6  is less than  −5 .

# Class activity

Write a code to compare if the reverse of the above code still holds i.e. 1000 < 100

# Greater than or equal to operator  `>=`

This operator returns `True` if the value on the left side of the operator (>=) is bigger than or equal to the value on the right side of the operator and `False` if otherwise.

In [ ]:
# Below we compare whether 100 is greater than or equal to 1000

100 >= 1000

Since 100 is not greater than or equal to 1000, the result is False

In [ ]:
# Below we compare whether 60 is greater than or equal to 45

60 >= 45

In [ ]:
# We compare whether 100 is greater than or equal to 100

100 >= 100

# Less than or equal to operator `<=`

This operator returns `True` if the value on the left side of the operator (`<=`) is smaller than or equal to the value on the right side of the operator and `False` if otherwise.

In [ ]:
# is  100 less than or equal to 1000 ?

100 <= 1000

Yes, 100 is less than or equal to 1000

# Data Types in Python

Since Python is an object-oriented programming language. That is, we have many different objects in Python. The most common ones are strings, integers, floats, and boolean.

- Words or texts in Python are known as strings (str for short) e.g. "Lagos", "Male", "Corona virus"

- Number without decimal are known as integers (int for short) e.g. $-1, 0, 9$

- Number with decimal are known as floats e.g. $3.142, -1.6, 4.2$ 

- Value with either True or False are known as boolean (bool for short)

![](Images/dtypes1.png)

Python can tell you the data type by using `type()` function. Python refers to integers as `int`, floats as `float`, character or text as `str` and boolean as `bool`.

# Integer data type

Integers are numerical (number) values that are positive or negative whole numbers without decimals

# Example

In [ ]:
type(20)

In [ ]:
type(2)

In [ ]:
type(2021)

# Float data type

Float (floating point) numbers are numbers with a decimal point.

## Example

In [ ]:
type(3.142)

In [ ]:
type(11.124)

In [ ]:
type(-2021.2)

# String data type

Characters or texts are known as string in Python. A string object must be inside a single or double quotation. Otherwise, Python will throw an error.

# Example 1

In [ ]:
"I am from Oyo state"

In [ ]:
type("I am from Oyo state")

As you just learnt, this is a string(`str`) data type.

## Example 2

In [ ]:
I am from Lagos state

There is a `SyntaxError` because we don't put I am from Lagos state in a quotation. Now, Let's correct the error by putting the texts in a double quotation.

In [ ]:
"I am from Lagos state"

In [ ]:
type("I am from Lagos state")

# Example 3

In [ ]:
"Python is so simple"

# Tips

It is common to see most Python user using the function `print()` in their line of codes. For now, all you need to know is that it instructs python on what to print.

In [ ]:
print("Hello, I am from Kano and I can speak Hausa")

In [ ]:
print(type("Hello, I am from Kano and I can speak Hausa"))

In [ ]:
print(4+6)

In [ ]:
print(type(14.6))

## Boolean data type

A boolean or bool is an object in python that can take two values i.e. `True` or `False`.

# Tips 

Values of a boolean must always start with a capital letter and then followed by small letters. This allows the programming language to identify the value as a boolean. When we check the type of `True` or `False`, the result is a `bool` which represents the boolean data type.

In [ ]:
# To check the data type

type(True)

In [ ]:
# To check the data type

type(False)

As we know some operations can result to boolean data type. For example:

In [ ]:
8 > 6

In [ ]:
6 < - 10

In [ ]:
"Ibadan" != "Ikeja"

In [ ]:
"Lagos" != "Kano"

# Variable assignment

In the simplest terms, a variable is a way at which a programmer stores a value so that it can be used over and over without having to repeat oneselve. A variable is just like a container that stores a value. For example, In the image below, `age` is a variable that stores the value of $15$ or the value of $15$ is stored into the variable age. Also, `country` is a variable that stores or hold the value of **"Nigeria"**. The equal operator (sign) is called an assignment.

# Example 1

In [ ]:
age =  15

To access what is in the variable `age`, you can do that by putting the name of the variable in the `print()` function or simple type the name of the variable without a `print()` function.

In [ ]:
print(age)

In [ ]:
age

We can also access the kind of data type in the variable age.

In [ ]:
type(age)

The value store in the variable `age` is an integer (`int`) data type

# Example 2

In [ ]:
country = "Nigeria"

In [ ]:
print(country)

In [ ]:
type(country)

The value stored in a variable `country` is a string (`str`) data type

# Class activity (Peer discussion)

What is your name? Assign the value to the variable `name`

How old are you? Assign the value to the variable `age` 

Are you a male or female? Assign the value to the variable `gender`

Which state did you come from? Assign the value to the variable `state`

What language can you speak? Assign the value to the variable `language` 

True or False, do you smile today? Assign the value to the variable `smile`

---

The list of the variables to create and assign values to are:

`name`

`age`

`gender`

`state`

`language`

`smile`

# Tips

Programming is about automating mundane tasks that otherwise would have taken ages! It also makes sense for the programmer to make their work easier by having a single representation of knowledge at only one point of the programme. This in turn makes it easier to understand code and reduce the number of lines one has to write and hence saves time!

When a value is stored in a variable, you can then use that variable to do further calculation

# Example 1

In [ ]:
# Age now

age = 15

age

In [ ]:
# Next year age

age + 1

In [ ]:
# Age last two years

age - 2

# Example 2

In [ ]:
# Assigning values to Variables

x = 2

y = 3

z = 4

In [ ]:
x + y

In [ ]:
z - x - y

In [ ]:
x * z

In [ ]:
x ** 2

In [ ]:
z % y

In [ ]:
divmod(z, x)

# Example 3

We can assign multiple values to multiple variables at the same time in Python

In [ ]:
name, age, gender, country = "Jamal", 16, "Male", "Sudan"

In [ ]:
print(name)

print(age)

print(gender)

print(country)

# Naming rules for variables

It is good practice to give meanigful variable name so that when someone else or you in future can understand what you were trying to accomplish. The best naming convention is to choose a variable name that will tell the reader of the program what the variable represents.

## Rules for naming variables 

- All variables must begin with a letter of the alphabet

- After the initial letter, variable names can also contain underscore (_),  a period (.) and/or a numbers. No spaces or special characters, however are allowed

- Uppercase strings are different from lowercase string in Python

# Example

![](Images/var_name.png)

# Class activity (Peer discussion)

Discuss among your colleagues why some variable names in the example are acceptable and why some are not acceptable in Python

# Data type conversions

Python allows us to convert objects from one data type to another. For example you may need to convert a `float` to an integer (`int`). In programming this is called typecasting and has a lot of very many useful applications as will be shown later.

# Tips

When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e. 0.1)

# Example 1

Let us convert an integer `9` into a float i.e. `int` to `float`. First assign the value of 9 to a variable `nigeria_naira`.

In [ ]:
nigeria_naira = 9

Let us check the data type in the variable `nigeria_naira` by using `type()` function

In [ ]:
type(nigeria_naira)

Now that we are sure that the value in the variable `nigeria_naira` is an integer (`int`) data type. So, we can convert it to a float data type by using a `float()` function. Save the result as `nigeria_naira_float`

In [ ]:
nigeria_naira_float = float(nigeria_naira)

In [ ]:
type(nigeria_naira_float)

As you can see, we have cast the  integer (int) to a float data type

# Example 2

Let us try and convert a float to an integer. As we said above, we will end up losing information so you should be careful about this type of conversion.

**Convert $9.345$ to an integer**

In [ ]:
int(9.345)

The result of the above code is 9, i.e. we lose 0.345 which is a lot of information. For example if it was an amount of money transfer, it would be potentially wrong to report that the amount was 9 and not 9.345.

# Example 3

We can also convert a pure number that is recognised as string (`str`) due to one reason or the other to float or an integer. This is only possible when the string looks like an `int` or a `float` otherwise python will throw an error

In [ ]:
# Convert a string into an integer

age = "20"

type(age)

Because the value of age is in a quotation, therefore, Python sees this as a string. We can convert the value in age to an integer by using `int()` function.

In [ ]:
# Converting an inperfect string to an integer

new_age = int(age)

type(new_age)

We can also convert other data types to strings e.g.

In [ ]:
# Convert a float to string
str(9.7)

In [ ]:
# Convert an int to a string
str(6)

In [ ]:
# A mixture of number and a string

int("179 hours")

This throws an error because this is not a pure number

# Tip

Strings can be represented by both single quotes `''` or double quotes `" "`. However, you can't mix them both ie. `"'` or `'"`

# Example 4

In our introduction to boolean data type, we said that boolean can take two values `True` or `False`. It is often common in practise to represent `1` as `True` and   `0` as `False`. This can be seen when we convert booleans to integer (`int`) or `float`.

In [ ]:
# Convert False to integer

int(False)

In [ ]:
# Convert True to integer

int(True)

In [ ]:
# Convert integer 1 to bool

bool(1)

In [ ]:
# Convert integer 0 to bool

bool(0)

# Logical operators

In the last section we talked about some mathematical operators such as `+`, `-`, `*`, `/`, `**`, and `%` and comparison operators such as `==`, `!=`, `>`, `>=`, `<`, and `<=`. In this section, you will learn about logical operators.

Logical operators test whether an expression is `True` or `False`. There are three types of logical operators namely `and`,  `or`,  `not`.

1. `and` - This operator return a False when it encounters a `False` condition

2. `or` -  This operator returns a True when it encounters at least a `True` condition

3. `not`-  This operator returns `True` if the condition is `False` and `True` if the condition is `False`

# Example 1: Using the `and` operator

We define a variable `mins` to represent the number of minutes a money transfer transaction from GTB to First bank takes to be completed.

In [ ]:
mins = 3

In [ ]:
# Run this cell to see the outcome

mins < 7 and mins < 1

Since the two expressions are both False i.e. 

`mins < 7`  is `False`  

`mins < 1` is `False` 

Therefore, `mins < 7 and mins < 1` will be `False`

In [ ]:
# To cross check

False and False

# Example 2: Using the `or` operator

We define a variable `year` to represent the number of years Dr Bayo Adekanmbi has been living in Lagos

In [ ]:
year = 12

In [ ]:
# Run this cell to see the outcome

year == 12 or  year < 10

Since one expression is True i.e. 

`year == 12 `  is `True`  

`year < 10 ` is `False` 

Therefore, `year == 12 or  year < 10` will be `True`

# Class activity (Peer to peer interaction)

What will be the result of the following expressions?:
    
`minute = 18`

`minute < 7 and minute < 1`

# Example 3: Using the `not` operator

We define a variable `mins` to represent the number of minutes a money transfer transaction from FCMB to Wema bank takes to be completed.

In [ ]:
mins = 10

In [ ]:
mins > 5

In [ ]:
not mins > 5

As you know, anything that is not `True` is `False`! For example:

In [ ]:
not True

In [ ]:
not False