# List, set, tuple, and Dictionary

## Course Overview 
At the end of this course, students should be able to understand the following:
 + Write their first Python Program `Hello World`
 + Try to fix Errors in Python codes
 + How to comment your codes 
 + Assign Python Variables 
 + Understanding Python Data Types

### Python Variable Data Types 


<img src ="Images/Dtypes.png" alt="Drawing" width="800" />

Source: *[FireBlaze](https://www.fireblazeaischool.in/blogs/data-types-in-python/)*. 

In this section, we will be talking on different data types in python which will be explained below.

# String Manipulation in Python

# Python Strings

**A string is an ordered sequence of characters**. Two key words here, **ordered** and **characters.** Ordered means that we will be able to use *indexing* and *slicing* to grab elements from the string.

## Creating strings.

In [35]:
# Single or double quotes are okay.
"Hi, welcome to string manipution in Python"

'Hi, welcome to string manipution in Python'

In [34]:
"Hello, our super teachers!"

'Hello, our super teachers!'

In [37]:
# Use another set of quotes to capture that inside single quote
"I'm a beginner in python programming!"

"I'm a beginner in python programming!"

## Basic Printing of Strings

In the jupyter notebook, a single string in a cell is automatically returned back. However, this is different than printing a string. Printing a string allows us to have multiple outputs. Let's see some useful examples:

In [43]:
'test'

'test'

In [45]:
'one'
'two'

'two'

In [46]:
print('one')
print('two')

one
two

In [38]:
print('this is a new line \nnotice how this is on another new line')

this is a new line
notice how this is on another new line

In [39]:
print("Python Code")
print('this is a tab\t notice how this prints with space between')

Python Code
this is a tab	 notice how this prints with space between

## Indexing and Slicing

Since strings are *ordered sequences* of characters, it means we can "select" single characters (indexing) or grab sub-sections of the string (slicing).

### Indexing

Indexing starts a 0, so the string hello:

    character:    h    e    l   l   o
    index:        0    1    2   3   4
    
You can use square brackets to grab single characters

In [1]:
word = "hello"
print(word)

hello

In [2]:
word[0]

'h'

In [3]:
word[3]

'l'

Python also supports reverse indexing:

    character:        h     e     l    l    o
    index:            0     1     2    3    4
    reverse index:    0    -4    -3   -2   -1  
    
Reverse indexing is used commonly to grab the last "chunk" of a sequence.

In [4]:
word[-2]

'l'

## Slicing

We can grab entire subsections of a string with *slice* notation.

This is the notation:

    [start:stop:step]

Key things to note:

1. The starting index direclty corresponds to where your slice will start
2. The stop index corresponds to where you slice will go up to. **It does not include this index character!**
3. The step size is how many characters you skip as you go grab the next one.

Let's see some examples

In [5]:
alpha = 'abcdef'

In [7]:
# NOTICE HOW d IS NOT INCLUDED!
alpha[0:3]

'abc'

In [8]:
alpha[0:4]

'abcd'

In [9]:
alpha[2:4]

'cd'

In [10]:
alpha[2:]

'cdef'

In [11]:
alpha[:2]

'ab'

In [12]:
alpha[0:6:2]

'ace'

## Basic String Methods

Methods are actions you can call off an object usually in the form .method_name() notice the closed parenthesis at the end. Strings have many, many methods which you can check with the Tab functionality in jupyter notebooks, let's go over some of the more useful ones!

In [13]:
basic = "hello world I am still a beginner pythonista"

In [14]:
basic.upper()

'HELLO WORLD I AM STILL A BEGINNER PYTHONISTA'

In [15]:
basic.lower()

'hello world i am still a beginner pythonista'

In [16]:
# Preview, we'll learn about lists later on!
basic.split()

['hello', 'world', 'I', 'am', 'still', 'a', 'beginner', 'pythonista']

In [84]:
basic.split('i')

['hello world I am st', 'll a beg', 'nner python', 'sta']

# Print Formatting

You can use the .format() method off a string, to perform what is formally known as **string interpolation**, essentially inserting variables when printing a string.

In [17]:
user_name = "Newbie"
password = 12345

In [18]:
print("Welcome {} and your password is {}".format(user_name, password))

Welcome Newbie and your password is 12345

In [19]:
action = 'learn'

In [24]:
print("The {} needs to {}".format(user_name, action))

The Newbie needs to learn

In [25]:
print("The {a} needs to {b}".format(a=user_name, b=action))

The Newbie needs to learn

In [26]:
print("The {b} needs to {a}".format(a=user_name, b=action))

The learn needs to Newbie

### Formatting Numbers

In [27]:
num = 245.9083
print("The number is: {}".format(num))

The number is: 245.9083

In [28]:
print("The code is: {:.1f}".format(num))

The code is: 245.9

In [29]:
print("The code is: {:.2f}".format(num))

The code is: 245.91

In [30]:
print("The code is: {:.3f}".format(num))

The code is: 245.908

In [31]:
print("The code is: {:.4f}".format(num))

The code is: 245.9083

# Lists

We've learned that strings are sequences of characters. Similarly, lists are sequences of objects, they can hold a variety of data types in order, and they follow the same sequence and indexing bracket rules that strings do. We can create a list by puting all items or elements in a square bracket `[]` where each element is being seperated by a comma. The items or elements in a list can be of any data types i.e. floats, integers, strings, boolean or there combination.

Let's explore some useful examples:

In [41]:
# An empty list

alist = []

type(alist)

list

In [43]:
my_list = [1, 2, 3]

In [44]:
my_list

[1, 2, 3]

In [48]:
a = 100

b = 200

c = 300

my_list3 = [a, b, c]

# List of integers

In [25]:
ages = [21, 23, 16, 6, 76, 7]

In [27]:
ages

[21, 23, 16, 6, 76, 7]

In [28]:
type(ages)

list

# List of float

In [23]:
time = [2.23, 1.59, 4.18, 3.51]

In [29]:
time

[2.23, 1.59, 4.18, 3.51]

In [30]:
type(time)

list

# List of string

In [34]:
country = ["Lagos", "Ibadan", "Osun", "Kwara"]

In [35]:
country

['Lagos', 'Ibadan', 'Osun', 'Kwara']

In [36]:
type(country)

list

# Mixed lists

In [41]:
Mixed = [90, 2.5, 'Ezekiel', 123, 0.75, True, False]

In [42]:
Mixed

[90, 2.5, 'Ezekiel', 123, 0.75, True, False]

In [43]:
type(Mixed)

list

## Nested Lists

Lists can hold other lists! This is called a nested list. 

## Examples

Let's see some examples:

In [15]:
new_list = [1, 2, 3, ['a', 'b', 'c']]

In [2]:
new_list

[1, 2, 3, ['a', 'b', 'c']]

In [3]:
type(new_list)

list

In [6]:
northcentral_southwest = [["Benue", "Kogi", "Kwara", "Nasarawa", "Niger", "Plateau", "FCT"],
                          ["Ekiti", "Lagos", "Ogun", "Ondo", "Osun", "Oyo"]]

In [7]:
northcentral_southwest

[['Benue', 'Kogi', 'Kwara', 'Nasarawa', 'Niger', 'Plateau', 'FCT'],
 ['Ekiti', 'Lagos', 'Ogun', 'Ondo', 'Osun', 'Oyo']]

In [8]:
type(northcentral_southwest)

list

# The len function

We can get the number of elements in a list by using `len()` function.

## Examples

In [45]:
Mixed = [90, 2.5, 'Ezekiel', 123, 0.75, True, False]

len(Mixed)

7

In [47]:
country = ["Lagos", "Ibadan", "Osun", "Kwara"]

len(country)

4

In [9]:
northcentral_southwest = [["Benue", "Kogi", "Kwara", "Nasarawa", "Niger", "Plateau", "FCT"],
                          ["Ekiti", "Lagos", "Ogun", "Ondo", "Osun", "Oyo"]]

In [10]:
len(northcentral_southwest)

2

In [16]:
new_list = [1, 2, 3, ['a', 'b', 'c']]

len(new_list)

4

# Indexing and Slicing

This works the same as the indexing and slicing of a string.

# Example 1

In [12]:
mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, "Opeyemi", "Lynda"]

In [13]:
mylist[3]

123

In [14]:
mylist[0:3]

[90, 2.5, 'GBGAnalyst']

# Example 2

In [23]:
new_list = [1, 2, 3, ['a', 'b', 'c']]

In [25]:
new_list[0]

1

In [26]:
new_list[3]

['a', 'b', 'c']

In [27]:
new_list[3][0]

'a'

# Example 3

In [28]:
list_1 = [2, 3, "four", [20, 30, 40, ["one", "two", "three"]]]

In [29]:
list_1[3]

[20, 30, 40, ['one', 'two', 'three']]

In [30]:
list_1[3][3]

['one', 'two', 'three']

In [31]:
list_1[3][3][1:]

['two', 'three']

## Immutability

List is immutable, That is you can change the element of a list to another.

# Example 1

In [33]:
mylist = [1, 2, 3, 4, 5]

In [34]:
mylist[0]

1

In [35]:
mylist[0] = 9

In [36]:
mylist

[9, 2, 3, 4, 5]

As you can see, we have changed the first element in a list from $1$ to $9$.

# Example 2

In [37]:
another_list = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, "No"]

In [39]:
another_list[2]

'GBGAnalyst'

In [40]:
another_list[2] = "Ezekiel"

In [41]:
another_list

[90, 2.5, 'Ezekiel', 123, 0.75, True, False, 'Lynda', True, 'No']

# List Methods

Methods are actions you can call from an objects. Their typical format is:

    mylist = [elements in a list]
    
    mylist.method()
    
You must call the parenthesis to execute the method! Let's go through a few methods that pertain to lists.

# .append( ) method

This appends or add an object to the end of the list

# Examples

In [1]:
mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, "No"]

In [2]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, 'No']

In [3]:
mylist.append(6)

In [4]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, 'No', 6]

In [5]:
mylist.append(4)

In [6]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, 'No', 6, 4]

In [7]:
mylist.append("Primary")

mylist.append("Secondary")

In [8]:
mylist

[90,
 2.5,
 'GBGAnalyst',
 123,
 0.75,
 True,
 False,
 'Lynda',
 True,
 'No',
 6,
 4,
 'Primary',
 'Secondary']

# .insert( ) method

`.insert()` method insert object before a given index position.

# Examples

In [10]:

mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']


mylist.insert(3, 'Ezekiel')

In [11]:
mylist

[90, 2.5, 'GBGAnalyst', 'Ezekiel', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

In [35]:
visited_countries = ["America", "Rwanda", "Singapore", "Italy", "Canada", "Mauritius"]

In [36]:
visited_countries.insert(0, "South Africa")

In [37]:
visited_countries

['South Africa',
 'America',
 'Rwanda',
 'Singapore',
 'Italy',
 'Canada',
 'Mauritius']

# .pop() method

`.pop()` method remove and return item at index (default last).

In [15]:
mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda', [5, 9]]

mylist.pop()

[5, 9]

In [16]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

In [17]:
mylist.pop(0)

90

In [18]:
mylist

[2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

# .reverse() method

`.reverse()` method reverse the order of the list

In [19]:
your_list = [2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

In [20]:
your_list.reverse()

In [21]:
your_list

['Lynda', 'Opeyemi', False, True, 0.75, 123, 'GBGAnalyst', 2.5]

In [39]:
visited_countries = ["America", "Rwanda", "Singapore", "Italy", "Canada", "Mauritius"]

visited_countries.reverse()

visited_countries

['Mauritius', 'Canada', 'Italy', 'Singapore', 'Rwanda', 'America']

# .sort() method

`.sort()` method sort the list in ascending order and return None

# Example 1

In [22]:
# Example 1

egg_weight = [59, 56, 61, 68, 52, 53, 69, 54, 57, 51]


egg_weight.sort()

In [23]:
egg_weight

[51, 52, 53, 54, 56, 57, 59, 61, 68, 69]

# Example 2

Data relating to the marks of 13 students in the Introduction to Python quiz are given below:

10, 15, 10, 9, 18, 16, 14, 12, 16, 13, 15, 20, 17.

Sort the marks in descending order.

In [24]:
marks = [10, 15, 10, 9, 18, 16, 14, 12, 16, 13, 15, 20, 17]

In [25]:
marks.sort(reverse = True)

In [26]:
marks

[20, 18, 17, 16, 16, 15, 15, 14, 13, 12, 10, 10, 9]

# Tuples 

Tuples are ordered sequences just like a list, but have one major difference, they are **immutable**. That is, you can not *change* them. So in practice what does this actually mean? It means that you can not reassign an item once its in the tuple, unlike a list, where you can do a reassignment.

Just like the elements in a list are put in a square bracket `[ ]` seperated by a comma, elements in a tuple are enclosed in a parentheses or brackets `( )` separated by comma `,`.

# Tip

You use parenthesis and commas for a tuple

List is immutable while tupple is mutatable


# Examples

In [40]:
# An empty tuple

atuple = ()

type(atuple)

tuple

In [76]:
t = (3, 2)

t

(3, 2)

# Tuple of integers

In [58]:
ages = (23, 2, 45, 6, 76, 7)

In [59]:
type(ages)

tuple

# Tuple of float

In [63]:
marks = (23.1, 20.8, 25.1, 17.9)

In [64]:
type(marks)

tuple

# Tuple of string

In [65]:
teachers_name = ("Ben", "Aliya", "Francisca", "Toyin", "Desire")

In [66]:
type(teachers_name)

tuple

# Mixed Tuple

In [61]:
mixed_tuple = (21, 12.3, 33.6, 23.8, 9, "Lekan", True, False)

In [62]:
type(marks)

tuple

# Nexted tuple (This is also known as a tuple of tuple)

In [68]:
nexted = ("Ethopia", (1, 2.5, 6), ('Kenya'), (1, 22, 14, 15))

In [69]:
type(nexted)

tuple

# The len function

We can get the number of elements in a tuple by using `len()` function.

## Example 1

In [ ]:
mixed_tuple = (21, 12.3, 33.6, 23.8, 9, "Lekan", True, False)

In [71]:
len(mixed_tuple)

8

## Example 2

In [73]:
nexted = ("Ethopia", (1, 2.5, 6), ('Kenya'), (1, 22, 14, 15))

len(nexted)

4

# Indexing and Slicing

This works the same as the indexing and slicing of a list.

# Example 1

In [78]:
mytuple = (90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, "Opeyemi", "Lynda")

In [80]:
mytuple[3]

123

In [81]:
mytuple[0:3]

(90, 2.5, 'GBGAnalyst')

# Example 2

In [85]:
new_tuple = (1, 2, 3, ('a', 'b', 'c'))

In [86]:
new_tuple[0]

1

In [88]:
new_tuple[3]

('a', 'b', 'c')

In [89]:
new_tuple[3][0]

'a'

## Mutability

While list is immutable, tuple is not. That is you can't replace element of a tuple.

# Examples

In [50]:
mytuple = (1, 2, 3)

In [90]:
mytuple[0] = 9

TypeError: 'tuple' object does not support item assignment

As you can see, you can't add or change element of a tuple:

In [ ]:
None of the methods in a list can work in tuple.

In [91]:
t.append('NOPE!')

AttributeError: 'tuple' object has no attribute 'append'

## Tuple methods

Tuples only have two methods available `.index()` and `.count()`

`.index()` returns the index of value.

`.count()` returns number of occurrences of value

In [92]:
t = ("a", "b", "a",  "c", "a")

In [94]:

t.index("b")

1

In [95]:
t.count("a")

3

## Why use tuples?

Lists and tuples are very similar, so you may find yourself exchanging use cases for either one. However, you should use a tuple for collections or sequences that shouldn't be changed, such as the dates of the year, or user information such as an address, street, city , etc.

# Sets

Another fundamental data structure is Set! Sets are an unordered collection of unique elements. We can construct them by using a curly brackt`{}` while elements ina a set is being separated by a comma (,).

Let's go ahead and make a set to see how it works:

# Examples

In [6]:
# An empty set

aset = {}

type(aset)

dict

<img src='Image/DSN.jpg' alt = "Data Science Nigeria" style="width:600; height:300"/>

In [231]:
x = set()

In [236]:
x.add(1)

In [237]:
x

{1, 2}

In [106]:
x.add(2)

In [107]:
x

{1, 2}

Note the curly brackets. This does not indicate a dictionary!

A set has only unique entries. So what happens when we try to add something that is already in a set?

In [108]:
x.add(1)

In [109]:
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [238]:
mylist = [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3]

In [239]:
set(mylist)

{1, 2, 3}

You can also quickly create a set with just {}

In [3]:
myset = {1,2,3,3,3,3,3,3}

In [4]:
myset

{1, 2, 3}

In [5]:
type(myset)

set

# Set 

A set is a collection of items or elements which are placed in a curley bracket `{}` and seperated by comma `,`

Examples of set are listed below:

+ Set of Integers

In [54]:
Ages = {20,22,15,45,67}

In [55]:
type(Ages)

set

+ Set of Mixed Datatypes

In [58]:
lists = {"Ethopia", (1, 2.5, 6), 'Kenya', (1,22,14,15)}

In [59]:
type(lists)

set

**Note** that: A set does not print duplicate.

Example:

In [61]:
lenght = {2,4,4,3,6,7,1,}

In [63]:
print(lenght)

{1, 2, 3, 4, 6, 7}

We can see form above that when `lenght` was printed there was no repitition.


#### Basic Set Operations 

#### Union

+ A union of Sets `A` and `B` is listing all the items in a sets without any repetition.

To get the union of two sets, we put `|` at the middle of the two set.

Example: Let us assume that

In [67]:
A = {2,4,5,10,20,40}
B = {1,5,6,7,8,4}

What is the union of set `A` and `B`

In [73]:
union = A|B

In [74]:
print(union)

{1, 2, 4, 5, 6, 7, 40, 8, 10, 20}

We can also get the union using the function `.union()`

In [75]:
union = A.union(B)

In [76]:
print(union)

{1, 2, 4, 5, 6, 7, 40, 8, 10, 20}

#### Intersection

+ Intersection of two set `A` and `B` are the elements in which the two set has in commom.
To compute an intersection of a set in python we use the function `&`

In [77]:
intersection = A&B

In [78]:
print(intersection)

{4, 5}

We can also use the function  `.intersection()`.

In [79]:
intersection = A.intersection(B)

In [80]:
print(intersection)

{4, 5}

#### Difference

The difference of Set `B` and `A` i.e `(A-B)` is defined as the elements that are only in `A` but not in `B`

To compute the difference in python we use `-`

In [82]:
difference = A-B

In [83]:
print(difference)

{40, 2, 10, 20}

We can also use the function `.difference()`.

In [84]:
difference = A.difference(B)

In [85]:
print (difference)

{40, 2, 10, 20}

#### Dictionary

In a laymans term, a dictionary is defined as an item that has a `key` and a corresponding `value`.
A dictionary are always in a curley brackets `{}`.

A dictionary can be:

+ Empty Dictionary

In [89]:
name = {}

In [90]:
type(name)

dict

+  Integer Dictionary

In [94]:
country = {1: 'Ethopia', 2: 'Kenya', 3: 'Uganda', 4: 'Somalia'}

In [95]:
type(country)

dict

In [96]:
print(country)

{1: 'Ethopia', 2: 'Kenya', 3: 'Uganda', 4: 'Somalia'}

+ Mixed Dictionary

In [97]:
values = {'country': 'kenya', 1: [2, 4, 3]}

In [98]:
type(values)

dict

In [99]:
print(values)

{'country': 'kenya', 1: [2, 4, 3]}