# Data Science Nigeria: Introductory Machine Learning

![](../Images/banner.jpeg)

## Course Overview 

Upon completion of this study unit, you should be able to:    

- Perform basic data visualization tasks

- plot simple graphs

- understand how to deal with missing values

## Data Visualization

#### MATPLOTLIB

This is a Python library for visualization, others include 
- Seaborn
- ggplot
- Bokeh
- Plotly
- Pygal
- Altair

**Terms**

<center><img src="..\Images\Matplotlib_anatomy.PNG" style="width: 500px; height:400px"/></center>

Some common terms in Matpliotlib implementation are:

**Figure:** It is a whole figure which may contain one or more than one axes (plots). You can think of a Figure as a canvas that contains plots.

**Axes:** It is what we generally think of as a plot. A Figure can contain many axes. It contains two or three (in the case of 3D) Axis objects. Each axis has a title, an x-label, and a y-label.

Axis: They are the number line like objects and take care of generating the graph limits.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
plt.plot([1,2,3,4,5], [2,4,6,8,10])

plt.show()

Let us add the title, and name x-axis and y-axis using methods title(), xlabel() and ylabel() respectively.

In [ ]:
plt.plot([1,2,3,4,5], [2,4,6,8,10])
plt.title('My First Plot')
plt.xlabel("This is X axis")
plt.ylabel("This is Y axis")
plt.show()

We can also specify the size of the graph using method figure() and passing the values as a tuple representing the rows and columns

In [ ]:
plt.figure(figsize= (15,5))
plt.plot([1,2,3,4,5], [2,4,6,8,10],'g', [5,6,7,8,9], [10,12,14,16,18], 'b')
plt.title('My First Plot')
plt.xlabel("This is X axis")
plt.ylabel("This is Y axis")
plt.show()

In [ ]:
x = np.arange(0, 10, 0.2)
print (x)

y = np.sin (x)
print (y)

z = np.cos (x)
print (z)

plt.plot(x,y, x,z)
plt.xlabel('numbers between 1 and 10')
plt.ylabel('functions of the numbers')
plt.title('sine and cosine graph')
plt.legend(['sine','cosine'])
plt.show()

**Subplot**

With the use of subplot method, we can create many subplots in a figure. The subplot() method takes three arguments viz are nrows, ncols, and index.

In [ ]:
plt.subplot(1,2,1) # 1 row, 2 columns, index 1
plt.plot([1,2,3,4,5], [2,4,6,8,10], 'g')
plt.title('First')

plt.subplot(1,2,2) # 1 row, 2 columns, index 2
plt.plot([1,3,6,9,12], [3,6,9,12,15], 'b')
plt.title('Second')

plt.subplots_adjust(hspace=0.4) # for adjusting spaces inbetween subplots

plt.suptitle('Two subplots')
plt.show()

Other Platforms for data visualization include
- PowerBI
- Excel
- Tableau

e.t.c

**Class Work**

Load a datset and visualise the relationship between a feature and the target variable

## Data Preprocessing

In [ ]:
import pandas as pd
import numpy as np

#### Dropping Columns in a DataFrame
Often, you’ll find that not all the categories of data in a dataset are useful to you. Pandas provide a handy way of removing unwanted columns or rows from a DataFrame with the drop() function. Let’s look at a simple example where we drop a number of columns from a DataFrame.

In [ ]:
df = pd.read_csv('../Data/BL-Flickr-Images-Book.csv')
df.head()

In [ ]:
df.info()

the information in the following columns are reductant or not needed, so we would be dropping them from the data set using the **drop()**

In [ ]:
to_drop = ['Edition Statement',
            'Corporate Author',
           'Corporate Contributors',
            'Former owner',
            'Engraver',
            'Contributors',
            'Issuance type',
            'Shelfmarks']

# inplace agrument in the drop method makes the changes permanent in the dataset
df.drop(to_drop, inplace=True, axis=1)

In [ ]:
df.info()

#### Missing Values

Every dataset has an amount of noise (unwanted or unneeded datapoint) in them, and it is our job as a data scientist to remove them from the dataset.

In [ ]:
# firstly, we must know the number of missing values in each column in the dataset
df.isnull().sum()

In [ ]:
# percentage of missing value, this will help us to understan if we are to drop a particular column 
# or fill in the missing value
df.isnull().sum() * 100 / len(df)

##### Dealing with missing values

Impute Missing Values

Imputing refers to using a model to replace missing values.

There are many options we could consider when replacing a missing value, for example:

A constant value that has meaning within the domain, such as 0, distinct from all other values.
A value from another randomly selected record.
A mean, median or mode value for the column.
A value estimated by another predictive model.

or you can delete the row or column base on the nature of the dataset

**pandas.fillna()** can be used to fill in value into a missing column

#### Rename columns

In [ ]:
olympics_df = pd.read_csv('Datasets/olympics.csv')
olympics_df.head()

In [ ]:
# the argument header=1 is to start from index 0 as the header and ingnor anything above that
olympics_df = pd.read_csv('../Data/olympics.csv', header=1)
olympics_df.head()

In [ ]:
new_names =  {'Unnamed: 0': 'Country',
              '? Summer': 'Summer Olympics',
               '01 !': 'Gold',
               '02 !': 'Silver',
               '03 !': 'Bronze',
               '? Winter': 'Winter Olympics',
               '01 !.1': 'Gold.1',
               '02 !.1': 'Silver.1',
               '03 !.1': 'Bronze.1',
               '? Games': '# Games',
               '01 !.2': 'Gold.2',
               '02 !.2': 'Silver.2',
               '03 !.2': 'Bronze.2'}

In [ ]:
# rename the header
olympics_df.rename(columns=new_names, inplace=True)

In [ ]:
olympics_df.head()

## Class Work

Clean the dataset "titanic_train.csv" in the file folder
- load in the dataset using pandas framework
- check for missing values
- replace the missing values with either mean or mode
- and some visualization would be nice if added

#### Assignment
* 1
* 2
* 3