![](Images/banner.jpeg)

# String manipulation and data structure in Python

## What you stand to gain in this unit

Upon completion of this study unit, you should be able to:

- Manipulate string in Python

- Create different data structure such as list, typle, set, and dictionary

- Use their methods to perform various tasks

### Python Variable Data Types 


<img src ="Images/Dtypes.png" alt="Drawing" width="800" />

Source: *[FireBlaze](https://www.fireblazeaischool.in/blogs/data-types-in-python/)*. 

In this section, we will be talking on different data types in python which will be explained below.

# String Manipulation in Python

# Python Strings

**A string is an ordered sequence of characters**. Two key words here, **ordered** and **characters.** Ordered means that we will be able to use *indexing* and *slicing* to grab elements from the string.

## Creating strings.

In [ ]:
# Single or double quotes are okay.
"Hi, welcome to string manipution in Python"

In [2]:
"Hello, our super teachers!"

'Hello, our super teachers!'

In [3]:
# Use another set of quotes to capture that inside single quote
"I'm a beginner in python programming!"

"I'm a beginner in python programming!"

## Basic Printing of Strings

In the jupyter notebook, a single string in a cell is automatically returned back. However, this is different than printing a string. Printing a string allows us to have multiple outputs. Let's see some useful examples:

In [4]:
'test'

'test'

In [5]:
'one'
'two'

'two'

In [6]:
print('one')
print('two')

one
two

In [7]:
print('this is a new line \nnotice how this is on another new line')

this is a new line
notice how this is on another new line

In [8]:
print("Python Code")
print('this is a tab\t notice how this prints with space between')

Python Code
this is a tab	 notice how this prints with space between

## Indexing and Slicing

Since strings are *ordered sequences* of characters, it means we can "select" single characters (indexing) or grab sub-sections of the string (slicing).

### Indexing

Indexing starts a 0, so the string hello:

    character:    h    e    l   l   o
    index:        0    1    2   3   4
    
You can use square brackets to grab single characters

In [9]:
word = "hello"

print(word)

hello

In [10]:
word[0]

'h'

In [11]:
word[3]

'l'

Python also supports reverse indexing:

    character:        h     e     l    l    o
    index:            0     1     2    3    4
    reverse index:    0    -4    -3   -2   -1  
    
Reverse indexing is used commonly to grab the last "chunk" of a sequence.

In [12]:
word[-2]

'l'

## Slicing

We can grab entire subsections of a string with *slice* notation.

This is the notation:

    [start:stop:step]

Key things to note:

1. The starting index direclty corresponds to where your slice will start
2. The stop index corresponds to where you slice will go up to. **It does not include this index character!**
3. The step size is how many characters you skip as you go grab the next one.

Let's see some examples

In [13]:
alpha = 'abcdef'

In [14]:
# NOTICE HOW d IS NOT INCLUDED!
alpha[0:3]

'abc'

In [15]:
alpha[0:4]

'abcd'

In [16]:
alpha[2:4]

'cd'

In [17]:
alpha[2:]

'cdef'

In [18]:
alpha[:2]

'ab'

In [19]:
alpha[0:6:2]

'ace'

## Basic String Methods

Methods are actions you can call off an object usually in the form `.method_name()` notice the closed parenthesis at the end. Strings have many methods which you can use. Infact, you can get a list of them by putting a dot(.) at the end of already assigned string and press a Tab key on your keyboard. Let's see some of them with examples.

![](Images/string_method.png)

In [20]:
basic = "hello world, I am still a beginner pythonista"

# `.upper()`

`.upper()` will convert the string to upper case.

In [21]:
basic.upper()

'HELLO WORLD, I AM STILL A BEGINNER PYTHONISTA'

# `.lower()`

`.lower()` will convert the string to lower case.

In [22]:
basic.lower()

'hello world, i am still a beginner pythonista'

# `.capitalize()`

`.capitalize()` make the first character have upper case and the rest lower case.

In [23]:
basic.capitalize()

'Hello world, i am still a beginner pythonista'

# `.title()`

`.title()` will capitalize each word in a string.

In [24]:
basic.title()

'Hello World, I Am Still A Beginner Pythonista'

# `.split()`

`.split()` will split each character in the string.

In [25]:
basic.split()

['hello', 'world,', 'I', 'am', 'still', 'a', 'beginner', 'pythonista']

# Print Formatting

You can use the .format() method off a string, to perform what is formally known as **string interpolation**, essentially inserting variables when printing a string.

In [26]:
user_name = "Newbie"
password = 12345

In [27]:
print("Welcome {} and your password is {}".format(user_name, password))

Welcome Newbie and your password is 12345

In [28]:
action = 'learn'

In [29]:
print("The {} needs to {}".format(user_name, action))

The Newbie needs to learn

In [30]:
print("The {a} needs to {b}".format(a=user_name, b=action))

The Newbie needs to learn

In [31]:
print("The {b} needs to {a}".format(a=user_name, b=action))

The learn needs to Newbie

### Formatting Numbers

In [32]:
num = 245.9083
print("The number is: {}".format(num))

The number is: 245.9083

In [33]:
print("The code is: {:.1f}".format(num))

The code is: 245.9

In [34]:
print("The code is: {:.2f}".format(num))

The code is: 245.91

In [35]:
print("The code is: {:.3f}".format(num))

The code is: 245.908

In [36]:
print("The code is: {:.4f}".format(num))

The code is: 245.9083

# Input and output function

`input()` and `print()` functions are widely used for standard input and output operations respectively in Python. 

There are many cases where we might want to take the input from the user. In Python, we have the input() function that allows for this. You can get an input from a user and then save that as a variable that can be used later in your program with the help of `input()` function.

# Example 1

This program will ask you of your name. Please respond by typing your name, then, press enter button on your keyboard.

In [37]:
name = input("What is your name?")

print(name)

What is your name? Funminiyi

Funminiyi

Any variable that comes as a result of `input()` will always be a string data type.

# Example 2

In [38]:
name = input("What is your name?")

print(name)

type(name)

What is your name? Lekan

Lekan

str

# Example 3

The code below when run will ask of your name, please supply your name to it:

In [39]:
name = input("What is your name?")

print(f"My name is {name}")

print(f"{name} is of type {type(name)}")

What is your name? Ezekiel GBGAnalyst

My name is Ezekiel GBGAnalyst
Ezekiel GBGAnalyst is of type <class 'str'>

# Example 4

This  program will ask of your name, your age, and your country. It will then print for example, `My name is Lynda, I am 31 years old, and I am from Imo`.

In [40]:
name = input("What is your name?")

age = input("How old are you?")

state= input("What is the name of your state?")

print(f"My name is {name}, I am {age} years old, and I am from {state}")

What is your name? Lynda
How old are you? 32
What is the name of your state? Imo

My name is Lynda, I am 32 years old, and I am from Imo

# Example 5

In [41]:
name = "Opeyemi"

print("My name is", name)

My name is Opeyemi

# Example 6

In [42]:
name = "Opeyemi"

print(f"My name is {name}")

My name is Opeyemi

# Lists

We've learned that strings are sequences of characters. Similarly, lists are sequences of objects, they can hold a variety of data types in order, and they follow the same sequence and indexing bracket rules that strings do. We can create a list by puting all items or elements in a square bracket `[]` where each element is being seperated by a comma. The items or elements in a list can be of any data types i.e. floats, integers, strings, boolean or there combination.

Let's explore some useful examples:

In [43]:
# An empty list

alist = []

type(alist)

list

In [44]:
my_list = [1, 2, 3]

In [45]:
my_list

[1, 2, 3]

In [46]:
a = 100

b = 200

c = 300

my_list3 = [a, b, c]

# List of integers

In [47]:
ages = [21, 23, 16, 6, 76, 7]

In [48]:
ages

[21, 23, 16, 6, 76, 7]

In [49]:
type(ages)

list

# List of float

In [50]:
time = [2.23, 1.59, 4.18, 3.51]

In [51]:
time

[2.23, 1.59, 4.18, 3.51]

In [52]:
type(time)

list

# List of string

In [53]:
country = ["Lagos", "Ibadan", "Osun", "Kwara"]

In [54]:
country

['Lagos', 'Ibadan', 'Osun', 'Kwara']

In [55]:
type(country)

list

# Mixed lists

In [56]:
Mixed = [90, 2.5, 'Ezekiel', 123, 0.75, True, False]

In [57]:
Mixed

[90, 2.5, 'Ezekiel', 123, 0.75, True, False]

In [58]:
type(Mixed)

list

## Nested Lists

Lists can hold other lists! This is called a nested list. 

## Examples

Let's see some examples:

In [59]:
new_list = [1, 2, 3, ['a', 'b', 'c']]

In [60]:
new_list

[1, 2, 3, ['a', 'b', 'c']]

In [61]:
type(new_list)

list

In [62]:
northcentral_southwest = [["Benue", "Kogi", "Kwara", "Nasarawa", "Niger", "Plateau", "FCT"],
                          ["Ekiti", "Lagos", "Ogun", "Ondo", "Osun", "Oyo"]]

In [63]:
northcentral_southwest

[['Benue', 'Kogi', 'Kwara', 'Nasarawa', 'Niger', 'Plateau', 'FCT'],
 ['Ekiti', 'Lagos', 'Ogun', 'Ondo', 'Osun', 'Oyo']]

In [64]:
type(northcentral_southwest)

list

# The range() function

We can also generate a list of sequence of numbers by using `range()` function. For example, `range(12)` will generate numbers from $0$ to $11$ ($12$ numbers).

The range function also has the `start`, `stop` and `step size` i.e. `range(start, stop,step_size)`. The `step_size` is $1$ if not provided. The range object is "lazy" and does not store all the values in the memory. So it remembers the `start`, `stop`, `step_size`.

# Examples

In [65]:
range(10)

range(0, 10)

In [66]:
range(2, 8)

range(2, 8)

In [67]:
range(2, 20, 3)

range(2, 20, 3)

To force this function to output all the items, we can use the function `list()`.

# Examples

In [68]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

As you know, the data type is a list

In [69]:
type(list(range(10)))

list

In [70]:
list(range(2, 8))

[2, 3, 4, 5, 6, 7]

In [71]:
list(range(2, 20, 3))

[2, 5, 8, 11, 14, 17]

# The len function

We can get the number of elements in a list by using `len()` function.

## Examples

In [72]:
Mixed = [90, 2.5, 'Ezekiel', 123, 0.75, True, False]

len(Mixed)

7

In [73]:
country = ["Lagos", "Ibadan", "Osun", "Kwara"]

len(country)

4

In [74]:
northcentral_southwest = [["Benue", "Kogi", "Kwara", "Nasarawa", "Niger", "Plateau", "FCT"],
                          ["Ekiti", "Lagos", "Ogun", "Ondo", "Osun", "Oyo"]]

In [75]:
len(northcentral_southwest)

2

In [76]:
new_list = [1, 2, 3, ['a', 'b', 'c']]

len(new_list)

4

# Indexing and Slicing

This works the same as the indexing and slicing of a string.

# Example 1

In [77]:
mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, "Opeyemi", "Lynda"]

In [78]:
mylist[3]

123

In [79]:
mylist[0:3]

[90, 2.5, 'GBGAnalyst']

# Example 2

In [80]:
new_list = [1, 2, 3, ['a', 'b', 'c']]

In [81]:
new_list[0]

1

In [82]:
new_list[3]

['a', 'b', 'c']

In [83]:
new_list[3][0]

'a'

# Example 3

In [84]:
list_1 = [2, 3, "four", [20, 30, 40, ["one", "two", "three"]]]

In [85]:
list_1[3]

[20, 30, 40, ['one', 'two', 'three']]

In [86]:
list_1[3][3]

['one', 'two', 'three']

In [87]:
list_1[3][3][1:]

['two', 'three']

## Immutability

List is immutable, That is you can change the element of a list to another.

# Example 1

In [88]:
mylist = [1, 2, 3, 4, 5]

In [89]:
mylist[0]

1

In [90]:
mylist[0] = 9

In [91]:
mylist

[9, 2, 3, 4, 5]

As you can see, we have changed the first element in a list from $1$ to $9$.

# Example 2

In [92]:
another_list = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, "No"]

In [93]:
another_list[2]

'GBGAnalyst'

In [94]:
another_list[2] = "Ezekiel"

In [95]:
another_list

[90, 2.5, 'Ezekiel', 123, 0.75, True, False, 'Lynda', True, 'No']

# List Methods

Methods are actions you can call from an objects. Their typical format is:

    mylist = [elements in a list]
    
    mylist.method()
    
You must call the parenthesis to execute the method! Let's go through a few methods that pertain to lists.

# .append( ) method

This appends or add an object to the end of the list

# Examples

In [96]:
mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, "No"]

In [97]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, 'No']

In [98]:
mylist.append(6)

In [99]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, 'No', 6]

In [100]:
mylist.append(4)

In [101]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, 'No', 6, 4]

In [102]:
mylist.append("Primary")

mylist.append("Secondary")

In [103]:
mylist

[90,
 2.5,
 'GBGAnalyst',
 123,
 0.75,
 True,
 False,
 'Lynda',
 True,
 'No',
 6,
 4,
 'Primary',
 'Secondary']

# .insert( ) method

`.insert()` method insert object before a given index position.

# Examples

In [104]:
mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']


mylist.insert(3, 'Ezekiel')

In [105]:
mylist

[90, 2.5, 'GBGAnalyst', 'Ezekiel', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

In [106]:
visited_countries = ["America", "Rwanda", "Singapore", "Italy", "Canada", "Mauritius"]

In [107]:
visited_countries.insert(0, "South Africa")

In [108]:
visited_countries

['South Africa',
 'America',
 'Rwanda',
 'Singapore',
 'Italy',
 'Canada',
 'Mauritius']

# .pop() method

`.pop()` method remove and return item at index (default last).

In [109]:
mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda', [5, 9]]

mylist.pop()

[5, 9]

In [110]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

In [111]:
mylist.pop(0)

90

In [112]:
mylist

[2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

# .reverse() method

`.reverse()` method reverse the order of the list

In [113]:
your_list = [2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

In [114]:
your_list.reverse()

In [115]:
your_list

['Lynda', 'Opeyemi', False, True, 0.75, 123, 'GBGAnalyst', 2.5]

In [116]:
visited_countries = ["America", "Rwanda", "Singapore", "Italy", "Canada", "Mauritius"]

visited_countries.reverse()

visited_countries

['Mauritius', 'Canada', 'Italy', 'Singapore', 'Rwanda', 'America']

# .sort() method

`.sort()` method sort the list in ascending order and return None

# Example 1

In [117]:
# Example 1

egg_weight = [59, 56, 61, 68, 52, 53, 69, 54, 57, 51]


egg_weight.sort()

In [118]:
egg_weight

[51, 52, 53, 54, 56, 57, 59, 61, 68, 69]

# Example 2

Data relating to the marks of 13 students in the Introduction to Python quiz are given below:

10, 15, 10, 9, 18, 16, 14, 12, 16, 13, 15, 20, 17.

Sort the marks in descending order.

In [119]:
marks = [10, 15, 10, 9, 18, 16, 14, 12, 16, 13, 15, 20, 17]

In [120]:
marks.sort(reverse = True)

In [121]:
marks

[20, 18, 17, 16, 16, 15, 15, 14, 13, 12, 10, 10, 9]

# Class activity

1. Create a list that contains the names of your best friends.

1. Use Python to access the third element in the name list.

1. How many friends are in your list?

# Tuples 

Tuples are ordered sequences just like a list, but have one major difference, they are **immutable**. That is, you can not *change* them. So in practice what does this actually mean? It means that you can not reassign an item once its in the tuple, unlike a list, where you can do a reassignment.

Just like the elements in a list are put in a square bracket `[ ]` seperated by a comma, elements in a tuple are enclosed in a parentheses or brackets `( )` separated by comma `,`.

# Tip

You use parenthesis and commas for a tuple

List is immutable while tupple is mutatable


# Examples

In [122]:
# An empty tuple

atuple = ()

type(atuple)

tuple

In [123]:
t = (3, 2)

t

(3, 2)

# Tuple of integers

In [124]:
ages = (23, 2, 45, 6, 76, 7)

In [125]:
type(ages)

tuple

# Tuple of float

In [126]:
marks = (23.1, 20.8, 25.1, 17.9)

In [127]:
type(marks)

tuple

# Tuple of string

In [128]:
teachers_name = ("Ben", "Kunle", "Francisca", "Toyin", "Desire")

In [129]:
type(teachers_name)

tuple

# Mixed Tuple

In [130]:
mixed_tuple = (21, 12.3, 33.6, 23.8, 9, "Lekan", True, False)

In [131]:
type(marks)

tuple

# Nexted tuple 

This is also known as a tuple of tuple

In [132]:
nexted = ("Ethopia", (1, 2.5, 6), ('Kenya'), (1, 22, 14, 15))

In [133]:
type(nexted)

tuple

# The len function

We can get the number of elements in a tuple by using `len()` function.

## Example 1

In [134]:
mixed_tuple = (21, 12.3, 33.6, 23.8, 9, "Lekan", True, False)

In [135]:
len(mixed_tuple)

8

## Example 2

In [136]:
nexted = ("Ethopia", (1, 2.5, 6), ('Kenya'), (1, 22, 14, 15))

len(nexted)

4

# Indexing and Slicing

This works the same as the indexing and slicing of a list.

# Example 1

In [137]:
mytuple = (90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, "Opeyemi", "Lynda")

In [138]:
mytuple[3]

123

In [139]:
mytuple[0:3]

(90, 2.5, 'GBGAnalyst')

# Example 2

In [140]:
new_tuple = (1, 2, 3, ('a', 'b', 'c'))

In [141]:
new_tuple[0]

1

In [142]:
new_tuple[3]

('a', 'b', 'c')

In [143]:
new_tuple[3][0]

'a'

## Mutability

While list is immutable, tuple is not. That is you can't replace element of a tuple.

# Examples

In [144]:
mytuple = (1, 2, 3)

In [145]:
mytuple[0] = 9

TypeError: 'tuple' object does not support item assignment

As you can see, you can't add or change element of a tuple:

None of the methods in a list can work in tuple.

In [146]:
mytuple.append('NOPE!')

AttributeError: 'tuple' object has no attribute 'append'

## Tuple methods

Tuples only have two methods available `.index()` and `.count()`

`.index()` returns the index of value.

`.count()` returns number of occurrences of value

In [148]:
t = ("a", "b", "a",  "c", "a")

In [149]:
t.index("b")

1

In [150]:
t.count("a")

3

## Why use tuples?

Lists and tuples are very similar, so you may find yourself exchanging use cases for either one. However, you should use a tuple for collections or sequences that shouldn't be changed, such as the dates of the year, or user information such as an address, street, city , etc.

# Class activity

1. Create a tuple that includes the names of your best friends

1. Use Python to access the third element in the name list.

1. What is the length of the tuple?

# Sets

Another fundamental data structure is Set! Set is an unordered and unindexed collection of unique elements. We can construct them by using a curly bracket`{ }` while elements in a set is being separated by a comma (,).

Let's go ahead and make a set to see how it works:

# Example 1

In [151]:
call_received = {0, 1, 4, 2, 3, 5}

call_received

{0, 1, 2, 3, 4, 5}

In [152]:
type(call_received)

set

You will notice that elements in a set has been arranged in an organised ascending order

# Example 2

In [153]:
# Here are the set of fruits in my Fridge

myfruit = {"Apple", "Banana", "Cherry", "Orange", "Pineapples", "Grape", "Pawpaw"}

In [154]:
myfruit

{'Apple', 'Banana', 'Cherry', 'Grape', 'Orange', 'Pawpaw', 'Pineapples'}

In [155]:
type(myfruit)

set

# A note

One unique feature about set is that, it doesn't support duplicate of an element.

Example 1

In [156]:
student_age = {19, 20, 15, 19, 16, 21, 17}

student_age

{15, 16, 17, 19, 20, 21}

In [157]:
type(student_age)

set

You will see that our initial elements in student age are 19, 20, 15, 19, 16, 21, and 17 but set has removed all the duplicates and we now left with the elements 15, 16, 17, 19, 20, and 21

# The len function

We can get the number of elements in a set by using `len()` function.

## Example

In [158]:
len(student_age)

6

In [159]:
# Set also support mixed data type

myset= {90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, "Opeyemi", "Lynda"}

In [160]:
len(myset)

9

# Indexing and Slicing

Since, set are unordered collection of unique elements, indexing has no meaning. Hence, the slicing operator `[]` will not work.

In [161]:
student_age = {19, 20, 15, 16, 21, 17}

student_age[1]

TypeError: 'set' object is not subscriptable

As you can see, that throws an error. Since indexing is not working, then element in a set is not replaceable.

# Adding element to a set

Since set is mutable, hence it is possible to add element to an existing set by using `.add()` attribute. If the element is already present in the set, then the function will ignore adding that element.

# Example 1

In [162]:
student_age = {19, 20, 15, 16, 21, 17}

In [163]:
student_age.add(18)

In [164]:
student_age

{15, 16, 17, 18, 19, 20, 21}

# Example 2

In [165]:
myset= {'GBGAnalyst', "Opeyemi", "Lynda", "Funminiyi"}

myset

{'Funminiyi', 'GBGAnalyst', 'Lynda', 'Opeyemi'}

In [166]:
len(myset)

4

In [167]:
myset.add("Lekan")

In [168]:
myset

{'Funminiyi', 'GBGAnalyst', 'Lekan', 'Lynda', 'Opeyemi'}

In [169]:
len(myset)

5

# Basic Set Operations 

We can perform set operations like union, intersection, compliment of two sets. As you know, sets have unique values. They eliminate duplicates. We can represent the relationship beween sets in a diagram known as a Venn daigram.

![](Images/Venn.png)

## Union of sets

The union of set `A` and `B`, denoted by $A \cup B$,  is the collection of all elements in both sets without any duplication of elements.


![](Images/union.jpg)


To get the union of two sets, we put `|` at the middle of the two sets.

# Example 1

In [170]:
A = {7, 2, 5}

B = {2, 5, 1, 8}

What is the union of `A` and `B`?

In [171]:
AunionB = A | B

In [172]:
print(AunionB)

{1, 2, 5, 7, 8}

We can also use `.union()` attribute to get the union of a set

In [173]:
AunionB = A.union(B)

In [174]:
print(AunionB)

{1, 2, 5, 7, 8}

# Example 2

In [175]:
odd_number = {1, 3, 5, 7, 9}

even_number = {2, 4, 6, 8, 10}

What is the union of set `odd_number` and `even_number`?

In [176]:
all_numbers = odd_number | even_number

In [177]:
print(all_numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [178]:
print(all_numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Example 3

In [179]:
myfruits = {"Apple", "Banana", "Cherry", "Orange", "Water melon" }

friend_fruit = {"Pineapples", "Grape", "Pawpaw", "Banana", "Mango"}

In [180]:
all_fruits = myfruits | friend_fruit

all_fruits

{'Apple',
 'Banana',
 'Cherry',
 'Grape',
 'Mango',
 'Orange',
 'Pawpaw',
 'Pineapples',
 'Water melon'}

In [181]:
len(all_fruits)

9

My friend and I have 9 fruits altogether.

# Class activity

![](Images/Union_1.jpg)

Consider the venn diagram above:

1. represent both sets X and Y in Python

2. what is the union of set X and Y?

# Intersection

Intersection of two sets `A` and `B`, denoted by $A \cap B$, is the set containing all elements of A that also belong to B (or equivalently, all elements of B that also belong to A).


![](Images/intersection.jpg)

To compute intersection of two in Python, we put `&` at the middle of the two sets. 

# Example 1

In [182]:
A = {2, 4, 5, 1, 3}

B = {1, 3, 9, 12}

In [183]:
intersection = A & B

In [184]:
print(intersection)

{1, 3}

We can also use the function  `.intersection()`.

In [185]:
intersection = A.intersection(B)

In [186]:
print(intersection)

{1, 3}

# Example 2

In [187]:
myfruits = {"Apple", "Banana", "Cherry", "Orange", "Water melon" }

friend_fruits = {"Pineapples", "Grape", "Pawpaw", "Banana", "Mango"}

In [188]:
common_fruit = myfruits & friend_fruit

common_fruit

{'Banana'}

As you can see, we have oly Banana in common.

# Class activity

![](Images/Intersection_1.png)

Consider the venn diagram above:

1. represent both sets P and Q in Python

2. what is the intersection of set X and Y?

# Complement of a set (or set difference)


The complement or set difference of sets A and B, denoted by `A – B`, is the set of all elements in A that are not in B.

![](Images/difference.jpg)


To compute complement of two sets in Python, we put `-` at the middle of the two sets. 

# Example 1

In [189]:
A = {2, 4, 6, 3, 5, 7}

B = {3, 5, 7, 9, 11, 13}

difference = A-B

In [190]:
print(difference)

{2, 4, 6}

We can also use the function `.difference()`.

In [191]:
difference = A.difference(B)

In [192]:
print (difference)

{2, 4, 6}

# Example 2

In [193]:
myfruits = {"Apple", "Banana", "Cherry", "Orange", "Water melon" }

friend_fruits = {"Pineapples", "Grape", "Pawpaw", "Banana", "Mango"}

In [194]:
# Fruits that I have that my friend did not have

difference_fruit = myfruits - friend_fruit

difference_fruit

{'Apple', 'Cherry', 'Orange', 'Water melon'}

The fruits that I have that my friend did not have are Apple, Cherry, Orange, and Water melon.

# Class activity

![](Images/difference_1.jpg)

Consider the venn diagram above:

1. represent both sets A and C in Python

2. what is the difference of set C and A?

# Dictionary

Dictionary is an ordered collection of `key-value` pairs.That is, it makes use of two elements, namely, a key and a value. Dictionary is usually used when we have a huge amount of data. We must know the `key` before we can retrieve the `value`.

We can create a dictionary by defining keys and value elements inside a curly bracket`{}. 

# Example 1

In [195]:
my_dictionary = {"Key 1": "Value 1", "Key 2": "Value 2",  "Key 3": "Value 3"}

In [196]:
my_dictionary

{'Key 1': 'Value 1', 'Key 2': 'Value 2', 'Key 3': 'Value 3'}

In [197]:
type(country)

list

# Example 2

In [198]:
# Life expectancy is the average number of year a person is expected to live based on the year of its birth

# life expectancy in the year 2020

life_expectancy = {"Nigeria": 60, "Kenya": 69, "Uganda": 68, "Ethiopia": 68, "Sudan": 67, "Rwanda": 65, "Tanzania": 64, "Somalia": 54}

In [199]:
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54}

In [200]:
type(life_expectancy)

dict

# Example 3

In [201]:
# Geopolitical zones in Nigeria

geopolitical_zones = {"North Central": ["Benue", "Kogi", "Kwara", "Nasarawa", "Niger", "Plateau", "FCT"],
                      "South West": ["Ekiti", "Lagos", "Ogun", "Ondo", "Osun", "Oyo"],
                      "North-East": ["Adamawa", "Bauchi", "Borno", "Gombe", "Taraba", "Yobe"],
                      "North-West": ["Jigawa", "Kaduna", "Kano", "Katsina", "Kebbi", "Sokoto", "Zamfara"], 
                      "South-East": ["Abia", "Anambra", "Ebonyi", "Enugu","Imo"], 
                      "South-South": ["Akwa Ibom", "Bayelsa", "Cross River", "Rivers", "Delta", "Edo"]}

In [202]:
print(geopolitical_zones)

{'North Central': ['Benue', 'Kogi', 'Kwara', 'Nasarawa', 'Niger', 'Plateau', 'FCT'], 'South West': ['Ekiti', 'Lagos', 'Ogun', 'Ondo', 'Osun', 'Oyo'], 'North-East': ['Adamawa', 'Bauchi', 'Borno', 'Gombe', 'Taraba', 'Yobe'], 'North-West': ['Jigawa', 'Kaduna', 'Kano', 'Katsina', 'Kebbi', 'Sokoto', 'Zamfara'], 'South-East': ['Abia', 'Anambra', 'Ebonyi', 'Enugu', 'Imo'], 'South-South': ['Akwa Ibom', 'Bayelsa', 'Cross River', 'Rivers', 'Delta', 'Edo']}

In [203]:
type(geopolitical_zones)

dict

## Dictionary Length

To determine how many items a dictionary has, use the `len()` function.

## Examples

In [204]:
len(life_expectancy)

8

In [205]:
len(geopolitical_zones)

6

# Accessing dictionary items

Dictionary items are presented in key : value pairs, and can be referred to by using the key name. To access a specific value in the dictionary data set, you need to index the right `key`. Dictionaries in Python are mutable and the elements in a dictionary can be added, removed, modified, and changed accordingly.

You can access the items of a dictionary by referring to its key name, inside square brackets. For example, consider life expectancy dictionay:

In [206]:
life_expectancy = {"Nigeria": 60, "Kenya": 69, "Uganda": 68, "Ethiopia": 68, "Sudan": 67, "Rwanda": 65, "Tanzania": 64, "Somalia": 54}

To access the value in the key Nigeria, we use:

In [207]:
life_expectancy["Nigeria"]

60

Also, for Ethiopia, we use:

In [208]:
life_expectancy["Ethiopia"]

68

You can not access items in a dictionary by index

In [209]:
life_expectancy[1]

KeyError: 1

# Dictionary Methods

Methods in a dictionary are as follows:


- `.keys()`

- `.values()`

- `.items()`

- `.updates()`

## .keys() method

The `.keys()` method will return a list of all the keys in the dictionary.

## Examples

In [212]:
life_expectancy.keys()

dict_keys(['Nigeria', 'Kenya', 'Uganda', 'Ethiopia', 'Sudan', 'Rwanda', 'Tanzania', 'Somalia'])

In [213]:
geopolitical_zones.keys()

dict_keys(['North Central', 'South West', 'North-East', 'North-West', 'South-East', 'South-South'])

## .values() method

The `.values()` method will return a list of all the values in the dictionary.

## Examples

In [214]:
life_expectancy.values()

dict_values([70, 69, 68, 68, 67, 65, 64, 54])

In [215]:
geopolitical_zones.values()

dict_values([['Benue', 'Kogi', 'Kwara', 'Nasarawa', 'Niger', 'Plateau', 'FCT'], ['Ekiti', 'Lagos', 'Ogun', 'Ondo', 'Osun', 'Oyo'], ['Adamawa', 'Bauchi', 'Borno', 'Gombe', 'Taraba', 'Yobe'], ['Jigawa', 'Kaduna', 'Kano', 'Katsina', 'Kebbi', 'Sokoto', 'Zamfara'], ['Abia', 'Anambra', 'Ebonyi', 'Enugu', 'Imo'], ['Akwa Ibom', 'Bayelsa', 'Cross River', 'Rivers', 'Delta', 'Edo']])

# .items() method

The `items()` method will return each item in a dictionary, as tuples in a list.

## Examples

In [216]:
life_expectancy.items()

dict_items([('Nigeria', 70), ('Kenya', 69), ('Uganda', 68), ('Ethiopia', 68), ('Sudan', 67), ('Rwanda', 65), ('Tanzania', 64), ('Somalia', 54)])

In [217]:
geopolitical_zones.items()

dict_items([('North Central', ['Benue', 'Kogi', 'Kwara', 'Nasarawa', 'Niger', 'Plateau', 'FCT']), ('South West', ['Ekiti', 'Lagos', 'Ogun', 'Ondo', 'Osun', 'Oyo']), ('North-East', ['Adamawa', 'Bauchi', 'Borno', 'Gombe', 'Taraba', 'Yobe']), ('North-West', ['Jigawa', 'Kaduna', 'Kano', 'Katsina', 'Kebbi', 'Sokoto', 'Zamfara']), ('South-East', ['Abia', 'Anambra', 'Ebonyi', 'Enugu', 'Imo']), ('South-South', ['Akwa Ibom', 'Bayelsa', 'Cross River', 'Rivers', 'Delta', 'Edo'])])

# Update Dictionary

The `.update()` method will update the dictionary with the items from the given argument. The argument must be an object with key:value pairs.

In [218]:
life_expectancy.update({"Burundi": 67})

In [219]:
life_expectancy

{'Nigeria': 70,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 67}

We can also use a new index key and value to add a new item

In [220]:
life_expectancy["Eritrea"] = 66

In [221]:
life_expectancy

{'Nigeria': 70,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 67,
 'Eritrea': 66}

# Removing Items in a dictionary

The `del` keyword removes the item with the specified key name.

# Example

For example, to delete information about Eritrea in the life expectancy dictionary we use:

In [222]:
del life_expectancy["Eritrea"]

In [223]:
life_expectancy

{'Nigeria': 70,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 67}

# Class activity

Consider the dictionary:

In [224]:
d = {"fruits": ["apples", "oranges", "pears", "mangoes"],
"vegetables": ["tomatoes", "lettuce", "spinach", "green peppers"],
"meat": ["chicken", "fish", "beef", "ostrich"],
"dairy": ["yogurt", "milk", "cheese", "ice-cream"] }

a. How many keys does d have?

b. List the values of d

c. How do you access ”spinach” using the dictionary d?

d. How do you add a new fruit?