![](Images/banner.jpeg)

# Unit 1

## Class activity 1

In [43]:
divmod(18, 4)

(4, 2)

## Class activity 2 (Peer Discussion)

In [44]:
2 + 6 - 12

-4

In [45]:
4 * 3 - 8

4

In [3]:
81/6

13.5

In [46]:
9 % 2

1

In [7]:
16 % 3

1

In [8]:
2**3

8

In [9]:
divmod(17, 5)

(3, 2)

In [10]:
11//5

2

## Class activity 3 (Comparison Operators)

In [12]:
5==6

False

## Class activity 4(Less than operator <)

In [13]:
1000 < 100

False

## Class activity 5 (Peer discussion)- Data Types in python

In [14]:
name = "Lynda"
age = 35
gender = "Female"
state = "Anambra"
Language = "Igbo"
smile = True

## Class activity 6 (Logical Operations)

In [15]:
minutes = 18
minutes < 7 and minutes < 1

False

# Unit 2

## Class activity 1 (List)

In [48]:
best_friends = ["Vicky", "Halimah", "Tobe", "Casmir", "Felicia", "Tolu"]

print(best_friends[2])

len(best_friends)

Tobe

6

## Class activity 2 (Tuple)

In [49]:
pals = ("Vicky", "Halimah", "Tobe", "Casmir", "Felicia", "Tolu")
print(pals[2])
len(pals)

Tobe

6

# Unit 3

## Class activity 3 Set (Union)

In [50]:
X = {1, 2, 6, 7}

Y = {1, 3, 4, 5, 8}

union_X_Y = X|Y

union_X_Y

{1, 2, 3, 4, 5, 6, 7, 8}

## Class activity 3 Set (Intersection)

In [6]:
P = {3, 9, 15, 12, 6, 18}

Q = {2, 4, 8, 10, 14, 16, 12, 6, 18}

intersection_P_Q = P & Q

intersection_P_Q

{6, 12, 18}

## Class activity 3 Set (Complement)

In [7]:
A = {13, 15, 12, 11, 14}

C = {7, 9, 18, 20, 11, 14}

complement_C_A = C - A

complement_C_A

{7, 9, 18, 20}

## Class activity 4 (Dictionary)

In [16]:
d = {"fruits": ["apples", "oranges", "pears", "mangoes"],
"vegetables": ["tomatoes", "lettuce", "spinach", "green peppers"],
"meat": ["chicken", "fish", "beef", "ostrich"],
"dairy": ["yogurt", "milk", "cheese", "ice-cream"] }

In [17]:
len(d.keys())

4

In [18]:
d.values()

dict_values([['apples', 'oranges', 'pears', 'mangoes'], ['tomatoes', 'lettuce', 'spinach', 'green peppers'], ['chicken', 'fish', 'beef', 'ostrich'], ['yogurt', 'milk', 'cheese', 'ice-cream']])

In [19]:
# To index a dictionary, convert the dictionary to a list and index as a list

veges = list(d['vegetables'])

veges

['tomatoes', 'lettuce', 'spinach', 'green peppers']

In [20]:
spinach = veges[2]
spinach

'spinach'

**OR**

In [25]:
# Use key then select by the index

d['vegetables'][2]

'spinach'

In [26]:
# To add new fruit, we use the "update" function

d.update({"drinks": ["coke", "sprite", "fanta", "zobo"]})

In [27]:
d

{'fruits': ['apples', 'oranges', 'pears', 'mangoes'],
 'vegetables': ['tomatoes', 'lettuce', 'spinach', 'green peppers'],
 'meat': ['chicken', 'fish', 'beef', 'ostrich'],
 'dairy': ['yogurt', 'milk', 'cheese', 'ice-cream'],
 'drinks': ['coke', 'sprite', 'fanta', 'zobo']}

# Unit 4

## Class activity 1 (break statement)

In [51]:
city = "Ibadan"
for letters in city:
    if letters == "d":
        break
    print(letters)

I
b
a

# Unit 5

## Class activity 1 (Functions)

In [33]:
# function to calculate and substract two numbers

number1 = int(input("Please input the first number"))
number2 = int(input("Please input the second number"))

def Addition(number1, number2):
    add = number1 + number2
    substract = number1 - number2
    print(f"The sum of first and second number is {add} and their difference is {substract}")

# Testing the function
Addition(number1, number2)

Please input the first number 20
Please input the second number 15

The sum of first and second number is 35 and their difference is 5

In [32]:
# function Outputting "x" n times

n = int(input("Please input a number"))

def output_x(n):
    output = "x" * n
    print(output)
    
# Testing the function
output_x(n)

Please input a number 6

xxxxxx

In [37]:
# function converting celsius to fahrenheit

def Celcius_to_fahrenheit(Tc):
    fahrenheit = Tc * 1.8 + 32
    return (fahrenheit)

In [38]:
# Testing the function

Celcius_to_fahrenheit(100)

212.0

In [39]:
Celcius_to_fahrenheit(75)

167.0

In [40]:
Celcius_to_fahrenheit(120)

248.0

# Class activity 2 (Lambda)

In [41]:
difference = lambda x, y : x - y

In [42]:
difference(20,10)

10