![](Images/banner.jpeg)

# Continuation of data structure in Python: Set and Dictionary

## What you stand to gain in this unit

Upon completion of this study unit, you should be able to:

- Create data structure such as set and dictionary

- Work with set and dictionary's methods to perform some tasks

# Sets

Another fundamental data structure is Set! Set is an unordered and unindexed collection of unique elements. We can construct them by using a curly bracket`{ }` while elements in a set is being separated by a comma (,).

Let's go ahead and make a set to see how it works:

# Example 1

In [1]:
call_received = {0, 1, 4, 2, 3, 5}

call_received

{0, 1, 2, 3, 4, 5}

In [2]:
type(call_received)

set

You will notice that elements in a set has been arranged in an organised ascending order

# Example 2

In [3]:
# Here are the set of fruits in my Fridge

myfruit = {"Apple", "Banana", "Cherry", "Orange", "Pineapples", "Grape", "Pawpaw"}

In [4]:
myfruit

{'Apple', 'Banana', 'Cherry', 'Grape', 'Orange', 'Pawpaw', 'Pineapples'}

In [5]:
type(myfruit)

set

# A note

One unique feature about set is that, it doesn't support duplicate of an element.

Example 1

In [6]:
student_age = {19, 20, 15, 19, 16, 21, 17}

student_age

{15, 16, 17, 19, 20, 21}

In [7]:
type(student_age)

set

You will see that our initial elements in student age are 19, 20, 15, 19, 16, 21, and 17 but set has removed all the duplicates and we now left with the elements 15, 16, 17, 19, 20, and 21

# The len function

We can get the number of elements in a set by using `len()` function.

## Example

In [8]:
len(student_age)

6

In [9]:
# Set also support mixed data type

myset= {90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, "Opeyemi", "Lynda"}

In [10]:
len(myset)

9

# Indexing and Slicing

Since, set are unordered collection of unique elements, indexing has no meaning. Hence, the slicing operator `[]` will not work.

In [11]:
student_age = {19, 20, 15, 16, 21, 17}

student_age[1]

TypeError: 'set' object is not subscriptable

As you can see, that throws an error. Since indexing is not working, then element in a set is not replaceable.

# Adding element to a set

Since set is mutable, hence it is possible to add element to an existing set by using `.add()` attribute. If the element is already present in the set, then the function will ignore adding that element.

# Example 1

In [12]:
student_age = {19, 20, 15, 16, 21, 17}

In [13]:
student_age.add(18)

In [14]:
student_age

{15, 16, 17, 18, 19, 20, 21}

# Example 2

In [15]:
myset= {'GBGAnalyst', "Opeyemi", "Lynda", "Funminiyi"}

myset

{'Funminiyi', 'GBGAnalyst', 'Lynda', 'Opeyemi'}

In [16]:
len(myset)

4

In [17]:
myset.add("Lekan")

In [18]:
myset

{'Funminiyi', 'GBGAnalyst', 'Lekan', 'Lynda', 'Opeyemi'}

In [19]:
len(myset)

5

# Basic Set Operations 

We can perform set operations like union, intersection, compliment of two sets. As you know, sets have unique values. They eliminate duplicates. We can represent the relationship beween sets in a diagram known as a Venn daigram.

![](Images/Venn.png)

## Union of sets

The union of set `A` and `B`, denoted by $A \cup B$,  is the collection of all elements in both sets without any duplication of elements.


![](Images/union.jpg)


To get the union of two sets, we put `|` at the middle of the two sets.

# Example 1

In [20]:
A = {7, 2, 5}

B = {2, 5, 1, 8}

What is the union of `A` and `B`?

In [21]:
AunionB = A | B

In [22]:
print(AunionB)

{1, 2, 5, 7, 8}

We can also use `.union()` attribute to get the union of a set

In [23]:
AunionB = A.union(B)

In [24]:
print(AunionB)

{1, 2, 5, 7, 8}

# Example 2

In [25]:
odd_number = {1, 3, 5, 7, 9}

even_number = {2, 4, 6, 8, 10}

What is the union of set `odd_number` and `even_number`?

In [26]:
all_numbers = odd_number | even_number

In [27]:
print(all_numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [28]:
print(all_numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Example 3

In [29]:
myfruits = {"Apple", "Banana", "Cherry", "Orange", "Water melon" }

friend_fruit = {"Pineapples", "Grape", "Pawpaw", "Banana", "Mango"}

In [30]:
all_fruits = myfruits | friend_fruit

all_fruits

{'Apple',
 'Banana',
 'Cherry',
 'Grape',
 'Mango',
 'Orange',
 'Pawpaw',
 'Pineapples',
 'Water melon'}

In [31]:
len(all_fruits)

9

My friend and I have 9 fruits altogether.

# Class activity

![](Images/Union_1.jpg)

Consider the venn diagram above:

1. represent both sets X and Y in Python

2. what is the union of set X and Y?

# Intersection

Intersection of two sets `A` and `B`, denoted by $A \cap B$, is the set containing all elements of A that also belong to B (or equivalently, all elements of B that also belong to A).


![](Images/intersection.jpg)

To compute intersection of two in Python, we put `&` at the middle of the two sets. 

# Example 1

In [32]:
A = {2, 4, 5, 1, 3}

B = {1, 3, 9, 12}

In [33]:
intersection = A & B

In [34]:
print(intersection)

{1, 3}

We can also use the function  `.intersection()`.

In [35]:
intersection = A.intersection(B)

In [36]:
print(intersection)

{1, 3}

# Example 2

In [37]:
myfruits = {"Apple", "Banana", "Cherry", "Orange", "Water melon" }

friend_fruits = {"Pineapples", "Grape", "Pawpaw", "Banana", "Mango"}

In [38]:
common_fruit = myfruits & friend_fruit

common_fruit

{'Banana'}

As you can see, we have oly Banana in common.

# Class activity

![](Images/Intersection_1.png)

Consider the venn diagram above:

1. represent both sets P and Q in Python

2. what is the intersection of set X and Y?

# Complement of a set (or set difference)


The complement or set difference of sets A and B, denoted by `A – B`, is the set of all elements in A that are not in B.

![](Images/difference.jpg)


To compute complement of two sets in Python, we put `-` at the middle of the two sets. 

# Example 1

In [39]:
A = {2, 4, 6, 3, 5, 7}

B = {3, 5, 7, 9, 11, 13}

difference = A-B

In [40]:
print(difference)

{2, 4, 6}

We can also use the function `.difference()`.

In [41]:
difference = A.difference(B)

In [42]:
print (difference)

{2, 4, 6}

# Example 2

In [43]:
myfruits = {"Apple", "Banana", "Cherry", "Orange", "Water melon" }

friend_fruits = {"Pineapples", "Grape", "Pawpaw", "Banana", "Mango"}

In [44]:
# Fruits that I have that my friend did not have

difference_fruit = myfruits - friend_fruit

difference_fruit

{'Apple', 'Cherry', 'Orange', 'Water melon'}

The fruits that I have that my friend did not have are Apple, Cherry, Orange, and Water melon.

# Class activity

![](Images/difference_1.jpg)

Consider the venn diagram above:

1. represent both sets A and C in Python

2. what is the difference of set C and A?

# Dictionary

Dictionary is an ordered collection of `key-value` pairs.That is, it makes use of two elements, namely, a key and a value. Dictionary is usually used when we have a huge amount of data. We must know the `key` before we can retrieve the `value`.

We can create a dictionary by defining keys and value elements inside a curly bracket`{}. 

# Example 1

In [45]:
my_dictionary = {"Key 1": "Value 1", "Key 2": "Value 2",  "Key 3": "Value 3"}

In [46]:
my_dictionary

{'Key 1': 'Value 1', 'Key 2': 'Value 2', 'Key 3': 'Value 3'}

In [47]:
type(country)

NameError: name 'country' is not defined

# Example 2

In [48]:
# Life expectancy is the average number of year a person is expected to live based on the year of its birth

# life expectancy in the year 2020

life_expectancy = {"Nigeria": 60, "Kenya": 69, "Uganda": 68, "Ethiopia": 68, "Sudan": 67, "Rwanda": 65, "Tanzania": 64, "Somalia": 54}

In [49]:
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54}

In [50]:
type(life_expectancy)

dict

# Example 3

In [51]:
# Geopolitical zones in Nigeria

geopolitical_zones = {"North Central": ["Benue", "Kogi", "Kwara", "Nasarawa", "Niger", "Plateau", "FCT"],
                      "South West": ["Ekiti", "Lagos", "Ogun", "Ondo", "Osun", "Oyo"],
                      "North-East": ["Adamawa", "Bauchi", "Borno", "Gombe", "Taraba", "Yobe"],
                      "North-West": ["Jigawa", "Kaduna", "Kano", "Katsina", "Kebbi", "Sokoto", "Zamfara"], 
                      "South-East": ["Abia", "Anambra", "Ebonyi", "Enugu","Imo"], 
                      "South-South": ["Akwa Ibom", "Bayelsa", "Cross River", "Rivers", "Delta", "Edo"]}

In [52]:
print(geopolitical_zones)

{'North Central': ['Benue', 'Kogi', 'Kwara', 'Nasarawa', 'Niger', 'Plateau', 'FCT'], 'South West': ['Ekiti', 'Lagos', 'Ogun', 'Ondo', 'Osun', 'Oyo'], 'North-East': ['Adamawa', 'Bauchi', 'Borno', 'Gombe', 'Taraba', 'Yobe'], 'North-West': ['Jigawa', 'Kaduna', 'Kano', 'Katsina', 'Kebbi', 'Sokoto', 'Zamfara'], 'South-East': ['Abia', 'Anambra', 'Ebonyi', 'Enugu', 'Imo'], 'South-South': ['Akwa Ibom', 'Bayelsa', 'Cross River', 'Rivers', 'Delta', 'Edo']}

In [53]:
type(geopolitical_zones)

dict

## Dictionary Length

To determine how many items a dictionary has, use the `len()` function.

## Examples

In [54]:
len(life_expectancy)

8

In [55]:
len(geopolitical_zones)

6

# Accessing dictionary items

Dictionary items are presented in key : value pairs, and can be referred to by using the key name. To access a specific value in the dictionary data set, you need to index the right `key`. Dictionaries in Python are mutable and the elements in a dictionary can be added, removed, modified, and changed accordingly.

You can access the items of a dictionary by referring to its key name, inside square brackets. For example, consider life expectancy dictionay:

In [56]:
life_expectancy = {"Nigeria": 60, "Kenya": 69, "Uganda": 68, "Ethiopia": 68, "Sudan": 67, "Rwanda": 65, "Tanzania": 64, "Somalia": 54}

To access the value in the key Nigeria, we use:

In [57]:
life_expectancy["Nigeria"]

60

Also, for Ethiopia, we use:

In [58]:
life_expectancy["Ethiopia"]

68

You can not access items in a dictionary by index

In [59]:
life_expectancy[1]

KeyError: 1

# Dictionary Methods

Methods in a dictionary are as follows:


- `.keys()`

- `.values()`

- `.items()`

- `.updates()`

## .keys() method

The `.keys()` method will return a list of all the keys in the dictionary.

## Examples

In [60]:
life_expectancy.keys()

dict_keys(['Nigeria', 'Kenya', 'Uganda', 'Ethiopia', 'Sudan', 'Rwanda', 'Tanzania', 'Somalia'])

In [61]:
geopolitical_zones.keys()

dict_keys(['North Central', 'South West', 'North-East', 'North-West', 'South-East', 'South-South'])

## .values() method

The `.values()` method will return a list of all the values in the dictionary.

## Examples

In [62]:
life_expectancy.values()

dict_values([60, 69, 68, 68, 67, 65, 64, 54])

In [63]:
geopolitical_zones.values()

dict_values([['Benue', 'Kogi', 'Kwara', 'Nasarawa', 'Niger', 'Plateau', 'FCT'], ['Ekiti', 'Lagos', 'Ogun', 'Ondo', 'Osun', 'Oyo'], ['Adamawa', 'Bauchi', 'Borno', 'Gombe', 'Taraba', 'Yobe'], ['Jigawa', 'Kaduna', 'Kano', 'Katsina', 'Kebbi', 'Sokoto', 'Zamfara'], ['Abia', 'Anambra', 'Ebonyi', 'Enugu', 'Imo'], ['Akwa Ibom', 'Bayelsa', 'Cross River', 'Rivers', 'Delta', 'Edo']])

# .items() method

The `items()` method will return each item in a dictionary, as tuples in a list.

## Examples

In [64]:
life_expectancy.items()

dict_items([('Nigeria', 60), ('Kenya', 69), ('Uganda', 68), ('Ethiopia', 68), ('Sudan', 67), ('Rwanda', 65), ('Tanzania', 64), ('Somalia', 54)])

In [65]:
geopolitical_zones.items()

dict_items([('North Central', ['Benue', 'Kogi', 'Kwara', 'Nasarawa', 'Niger', 'Plateau', 'FCT']), ('South West', ['Ekiti', 'Lagos', 'Ogun', 'Ondo', 'Osun', 'Oyo']), ('North-East', ['Adamawa', 'Bauchi', 'Borno', 'Gombe', 'Taraba', 'Yobe']), ('North-West', ['Jigawa', 'Kaduna', 'Kano', 'Katsina', 'Kebbi', 'Sokoto', 'Zamfara']), ('South-East', ['Abia', 'Anambra', 'Ebonyi', 'Enugu', 'Imo']), ('South-South', ['Akwa Ibom', 'Bayelsa', 'Cross River', 'Rivers', 'Delta', 'Edo'])])

# Update Dictionary

The `.update()` method will update the dictionary with the items from the given argument. The argument must be an object with key:value pairs.

In [66]:
life_expectancy.update({"Burundi": 67})

In [67]:
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 67}

We can also use a new index key and value to add a new item

In [68]:
life_expectancy["Eritrea"] = 66

In [69]:
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 67,
 'Eritrea': 66}

# Removing Items in a dictionary

The `del` keyword removes the item with the specified key name.

# Example

For example, to delete information about Eritrea in the life expectancy dictionary we use:

In [70]:
del life_expectancy["Eritrea"]

In [71]:
life_expectancy

{'Nigeria': 60,
 'Kenya': 69,
 'Uganda': 68,
 'Ethiopia': 68,
 'Sudan': 67,
 'Rwanda': 65,
 'Tanzania': 64,
 'Somalia': 54,
 'Burundi': 67}

# Class activity

Consider the dictionary:

In [72]:
d = {"fruits": ["apples", "oranges", "pears", "mangoes"],
"vegetables": ["tomatoes", "lettuce", "spinach", "green peppers"],
"meat": ["chicken", "fish", "beef", "ostrich"],
"dairy": ["yogurt", "milk", "cheese", "ice-cream"] }

a. How many keys does d have?

b. List the values of d

c. How do you access ”spinach” using the dictionary d?

d. How do you add a new fruit?