![](Images/banner.jpeg)

# Introduction to Python Programming: Data Type and Variable Assignment
### What you stand to gain in this unit

Upon completion of this study unit, you should be able to:

- Describe various computer programming languages

- Work with Anaconda navigator   

- Open Jupyter lab and/or Jupyter notebook

-  Navigate through Jupyter Lab interface

- Perform basic arithmetic operations in Python

- Work with different data types

- Assign values to variables and be guided with variable naming convention

- Work with comparison and logical operators

# Introduction to programming

Programming is a way of instructing the computer to perform various tasks. These instructions are written in a language that the computer understands. The instruction could be as simple as:

1. Adding the population of Ibadan and Lagos.
2. What is the square root of 16?

Just like Northern region can understand Hausa, Western region understands Yoruba, and Eastern region understands Igbo, so is the case with computers. Computers understand instructions that are written in a specific syntax called a programming language.

# What is Programming Language

A programming language is the set of instructions through which we can interact with computers. This instruction(s) are given in form of syntax or codes by a computer programmer to execute certain tasks. Programmers use specialized languages to communicate with computers for a certain task.  Some of the popular Programming languages are Python, C, C++, Java, JavaScript, and R.

![](Images/list.png)

Source: *[Coding Dojo](https://www.codingdojo.com/blog/the-7-most-in-demand-programming-languages-of-2019)*.

# Why you should learn Computer Programming?

- Programming is fun

- Programming increases your critical thinking

- You can automate a task easily

- You can earn more money by coding

- The backbone of a Technology Company

# Programing languages for data science

There are several programming languages such as Python, R, Scala, and Julia for data science and you that would soon become a data scientist  should learn and master at least one language for data science project. This course will teach you Python programming language.

![](Images/lang4datascience.png)

Source: *Developed by Ezekiel ([@GBGAnalyst](www.twitter.com/gbganalyst))*

# Python Programming language

Python is a powerful general-purpose programming language. It is an open-source and easy-to-use language that was created by Guido van Rossum in 1991. Python is used in data science, web development, and so on. Python is one of the most widely used data science programming language in the world today. Its simple easy-to-use syntax makes Python an excellent language to learn to program for beginners. Python was designed for readability, and has some similarities to the English language with influence from mathematics.

![image.png](Images/Python-Programming.png)

#  Why Python?


1. It is easy to learn, and the code is readable.
2. It is one of the most popular programming languages
3. There is a lot of Open Source contribution on Python. i.e. People has made a lot of free contribution on python to make programming easier for others.
4. Instructions are given in a shorter code compared to that of other programming languages. For example, the figure below shows how to print `Hello World`. Mere looking at the code, we would see that python's syntax is shorter and easy to read.

![](Images/python3.png)

# Important note

R programming is very simple to learn too and has a lot of statistical functionalities. We chose to use Python for this programme`

# Introduction to Anaconda distribution


Anaconda is a distribution of the Python for scientific computing, that aims to simplify package management and deployment. The distribution includes data-science packages suitable for Windows, Linux, and macOS.

To install Anaconda, follow the following Steps: 

1. Download Anaconda Navigator App, https://www.anaconda.com/products/individual#windows

![image.png](Images/Ana1.png)

2. The output above is what you will see after clicking the link, you can select the operating system you are using. In this case I am using a windows operating system with 64 bit.

3. Then your Anaconda will start downloading. After download, then you can install it.

# Anaconda navigator

Anaconda Navigator is a desktop graphical user interface (GUI) included in Anaconda distribution that allows users to launch applications without using command-line commands. 

![image.png](Images/Ana2.png)

You can launch Anaconda Navigator by typing Anaconda Navigator on the search bar, then double click on the Anaconda Navigator (Anconda3)

![image.png](Images/Ana3.png)

# Introduction to Jupyter Notebook and/or Jupyter Lab

Among the applications present in the Anaconda are JupyterLab and Jupyter Notebook

![image.png](Images/Ana4.png)

JupyterLab and/or Notebook is a web application that allows you to create and share documents that contain:

* live code (e.g. Python code)

* explanatory text (written in markdown syntax)

* visualizations

This notebook supports Python and other programming languages. It provides an environment for data science enthusiasts who just started out their career in data science field. This IDE supports markdown and enables you to add HTML components, images and videos.

# Difference between JupyterLab and Jupyter Notebook

Both Jupyterlab and Jupyter Notebook are browser compatible interactive python with the extension `.ipynb` where you can divide the various portions of the code into various individually executable cells for the sake of better readability.

In Jupyterlab, you can create a Python script directly (`.py`), create notebook (.`ipynb`), open terminal etc. Jupyter Notebook allows for only notebook (`.ipynb`) files while providing you the choice to choose between the two versions of Python i.e. python 2 or python 3.

JupyterLab runs in a single tab, with sub-tabs displayed within that one tab while Jupyter Notebook opens new notebooks in new tabs. 


Jupyterlab can open multiple notebooks (.ipynb) files inside a single browser tab. Whereas, Jupyter Notebook will create new tab to open new notebook (`.ipynb`) files every time. Hovering between various tabs of browser is tedious.

# JupyterLab interface

![](Images/lab.png)

---

# Jupyter Notebook

![](Images/pn1.png)

![](Images/pn2.jpg)

![](Images/pn3.png)

# How to launch JupyterLab and/or Jupyter Notebook

Now that you know JupyterLab and/or Jupyter Notebook, let's seee how to launch it.

There are two ways of launching JupyterLab and/or Jupyter Notebook.


1. Anaconda Navigator

2. Through terminal or Anaconda Prompt


# Method 1: Anaconda Navigator

You can launch Anaconda Navigator by typing Anaconda Navigator on the search bar

![image.png](Images/Ana3.png)


Locate JupyterLab or Notebook and then click on Launch

![image.png](Images/Lab_note.png)

# Method 2: Through terminal or Anaconda Prompt

We can also launch JupyterLab and/or Jupyter Notebook through the terminal or Anaconda Prompt. To do that, type Anaconda Prompt on the search bar and double click on Anaconda Prompt (Anaconda3)

![image.png](Images/terminal.png)

A comman prompt window will come up, then type jypyter lab and press enter (or return) from your keyboard.

![image.png](Images/lab1.png)

Note: For Jupyter Notebook you will type jupyter notebook

# How to navigate through JupyterLab notebook Interface 

After launching JupyterLab, you will see interface to looks like this:

![image.png](Images/lab2.png)

- `1` shows where you can select a folder or file that may contain your already worked on Jupyter Notebook (`.ipynb`). 
- `2` shows where you can create a new notebook 
- `3` shows where to cretae a new script
- `4` we can install some new package(s) with the terminal

Let's start by clicking on Python 3 to create a new notebook

![](Images/lab3.png)

- `1` a new cell 

- `2` shows where to change the type of cell. We have `Code` (a pure python code) , `Markdown` (markdown texts) or `Raw` (run it as it is)

![](Images/lab4.png)
  
- `1` to save the notebook you are currently working on

- `2` to create a new cell

- `3` to cut or delete a cell

- `4` to copy a cell (which you may want to paste in another cell)

- `5` to paste a cell that was initially copied

- `6` to run the selected cell

- `7` to stop the kernel (to stop Python from working)

- `8` to restart the kernel

- `9` to restart the kernel and rerun the whole notebook

- `10` name of the notebook you are working on

- `11` status of the notebook you are working on

A cell in Jupyter notebook can accept python code or markdown. For example, the cell that contains what is your name? is a markdown. In a markdown, you can write the full explanatory of what the code does with texts mixed with simple text formatting such as bold face, italic, bulleted list, etc.

# Example of cells in Markdown

What is your name?

How **old** are you?

How **old** are you?

Python is *simple*!

Python is *simple*!

Here are my favourite countries that I want to visit one day:
    
- United Kingdom
    
- Canada

- America

Here are my favourite countries that I want to visit one day:
    
- United Kingdom
    
- Canada

- America

The cell that contains `2 + 5` is a Python code and you can easily see the result (`7`) immediately below the cell.

![](Images/code2.png)

# Introduction to Google Colab

Google Colab or Colab for short allows anybody to write and execute Python code through the browser free of charge. It is a specialized version of the Jupyter Notebook, which runs on the cloud and offers free computing resources. 

It requires no setup to use while providing free access to computing resources including GPUs. You can also collaborate with others or share your completed work with other developers. You can access Colab via <https://colab.research.google.com>

![](Images/colab.png)

# Python as a Calculator

In its most basic form, Python can be used as a calculator to perform basic arithmetic operations.

![](Images/Pytcal.png)

Consider the following arithmetic operations:
    
- Addition

- Subtraction

- Multiplication

- Division

- Exponentiation (or Powers)

- Modulo

![](Images/python_operator.png)

# Tips

`+`, `-`, `*`, `/`, `**`, `%` are called arithmetic operators

## Expressions <a id=expression></a>

Python is well able to perform the well know mathematical operations. An expression is an operation or a set of operations in python that can evaluated to determine its value i.e. $1 + 2$ is an expression and the result $3$ is a value.

# Addition

Add 8 and 2 together i.e. 8 + 2

In [1]:
8 + 2

10

Calculate 1 + 3 + 2

In [2]:
1 + 3 + 2

6

Train the teachers programme consists teachers from seven (7) different schools across Nigeria.  7 are from Oyo, 15 are from Lagos, 10 are from Kano, 18 are from Abia, 6 are from Adamawa, 11 are Imo while the remaining 14 are from Kaduna. How many teachers are in the programme altogether?

In [3]:
7 + 15 + 10 + 18 + 6 + 11 + 14

81

# Subtraction

Calculate `8 - 5`

In [4]:
8 - 5

3

Calculate `20 - 15`

In [5]:
20-15

5

There are 30 sweets in a box, Ezekiel picked 6 sweets from the box, Lekan picked 8 sweets, Funmi picked 5 while Lynda picked 4. How many sweet is remaining in the box.

In [6]:
30 - 6 - 8 - 5 -4

7

There are 7 sweets that are still remaining

# Multiplication

What is $2 \times 3$?

In [7]:
2 * 3

6

What is $5 \times 4$?

In [8]:
5 * 4

20

What is $-2 \times 4$ ?

In [9]:
-2 * 4

-8

What is $3 \times 3$ ?

In [10]:
3 x 3

SyntaxError: invalid syntax (<ipython-input-10-ffb2b8152026>, line 1)

It is quite common in programming to make mistakes, even for programmers with years of experience. For most of the part, python will tell you where you have made a mistake by giving an error message. It is important to read the message and understand where you have made a mistake and resolve it. In this case, our error is where we have use $\times$ instead of *. Therefore, we correct the error as shown in the cell below:

In [11]:
3 * 3

9

# Tips

It is quite common in programming to write mistakes, even for programmers with years and years of experience. For most of the part,python will tell you whether you have made a mistake by giving an error message. It is important to read the message and understand where you have made a mistake and how to resolve it.

In [12]:
3 * 3

9

# Division 

Calculate `10 / 5`

In [13]:
10 / 5

2.0

Calculate `200 / 20`

In [14]:
200 / 20

10.0

Calculate `11 / 2`

In [15]:
11 / 2

5.5

# Exponentiation (or Powers)

Calculate   $4^2$

In [16]:
4 ** 2

16

Calculate $3^2$

In [17]:
3 ** 2

9

`Calculate` $9^2$

In [18]:
9 ** 2

81

# Modulus 

The modulo (or "modulus" or "mod") is the remainder after dividing one number by another. For example, $9$ $mod$ $2$ $= 1$. Because $9/2 = 4$ with a remainder of $1$. In mathematics, we write that as $9$ $mod$ $2 = 1$ and in Python we write it as $9$  \% $2 = 1$



`Calculate`  9 mod 2

In [19]:
9 % 2

1

Calculate $11$ \% $3$

In [20]:
11 % 3

2

That is, 2 is the remainder when you divide 11 by 3

 `Calculate` $21$ \% $4$

In [21]:
21 % 4

1

`Calculate` 15 \% 6

In [22]:
15 % 6

3

# Tip

The function `divmod()` in Python can be used to get the quotient and the remainder when dividing a number by another number. A quotient in mathematics is the actual result of the division of two numbers.

# Example

When you divide 5 by 2, the actual result is 2 and the remainder is 1

In [23]:
divmod(5, 2)

(2, 1)

The quotient is 2 and the remainder is 1

# Class activity 1

What is the result of $divmod(18, 4)$?

# The floor division (//)

The floor division (`//`) rounds the result down to the nearest whole number

# Example 1

This is a normal division

In [24]:
15 / 2

7.5

# Example 2

This is a floor division

In [25]:
15 // 2

7

# Class activity 2 (Peer dicussion)

Calculate the following in Python:
    
- 2 + 6 -12

- 4 * 3  - 8

- 81/6

- 9 mod 2

- 16 \% 3

- $2^3$

- divmod(17, 5)

- 11 // 5

# Parentheses or brackets

Parentheses are used to denote grouping of operation in mathematics.It denotes modifications to normal order of operations. Remember BODMAS in mathematics? We shall use BEDMAS in programming:

B - Bracket

E - Exponentiation

D - Division

M - Multilication

A - Addition

S - Subtraction


In an expression like $3 \times (2 + 3)$, the part of the expression within the parentheses, $(2 + 3) = 5$, is evaluated first, and then this result is used in the rest of the expression i.e. $3 \times 5  = 15$.

# Example 1

In [26]:
3 * (2 + 3)

15

# Example 2

$2^2 + 1$

In [27]:
2**2 + 1

5

# Example 3

$(3 + 2) \times (6 − 4)$

In [28]:
(3 + 2) * (6 - 4)

10

# Example 4

Use python to evaluate $2(3+1)$

In [29]:
2(3+1)

<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<ipython-input-29-f57bf854ff11>:1: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  2(3+1)

TypeError: 'int' object is not callable

This throws an error because we need to add an operator (*) before the parentheses or brackets.

In [30]:
2*(3+1)

8

# Tips

There must be an operator ($+, -, *, /$) before and/or after the parentheses.

# Example 1

What is the value of $3 \times (3 + 2)$ ?

In [31]:
3 * (3 + 2)

15

# Example 2

Calculate $(8-7) \times 2$

In [32]:
(8-7) * 2

2

# Example 3

What is the value of (6 - 4) + 2 ?

In [33]:
(6 - 4) + 2

4

# Example 4

What is the value of $(3 + 2) \times (6 - 4) + 2$ ?

In [34]:
(3 + 2) * (6 - 4) + 2

12

# Comment in Python

Adding comments to your code is a common practise in all programming languages.

This is important because:
    
1. It makes you remember a line of code you have written after leaving it for a while

2. It makes other who want to check your code to understand it line by line 

3. It is good for documentation purpose

In order to add comments to your codes, you will use the `#` sign before writing your comments.

# Tip

Comments are not run as Python code, so they will not influence your result. Python ignores any anything that has `#` sign.

# Example 1

In [35]:
# This adds 2 and 8 together. The result will be 10

2 + 8

10

As you can see, `This adds 2 and 8 together. The result will be 10` is our comment and we do that by using `#` sign.

# Example 2

In [36]:
# You will know how to import packages in Python later

# to get square root of a number, we will import numpy package and then use numpy.sqrt() function


import numpy

numpy.sqrt(4)

2.0

As you can see, we use `#` to tell you want you about to learn and how to get the square root of a number by using a comment.

# Comparison operators

We can compare two or more values by using comparison operators. These types of operators compare one value to another based on a condition. The result can either be `True` or `False` known as boolean (bool). The following are the most common comparison operators in python:

1. double equal to: `==`

2. not equal to `!=`

3. greater than`>`

4. less than `<`

5. greater than or equal to: `>=`

6. less than or equal to: `<=`

# Double equal operator `==`

This operator returns `True` if the two values are equal, otherwise it returns `False`

In [37]:
# Is 5 equal to 3?

5 == 3

False

As you know the answer is `False`.

In [38]:
# is 5 equal to 5

5 == 5

True

Yes! 5 is equal to 5.

In [39]:
# Below we compare whether two numbers i.e. 5 and 7 are equal

5 == 7

False

Since the two values are not equal, then the result is `False`

# Class activity

Write a code to compare 5 and 6

# Not equal to operator `!=`

This operator returns `True` if the two values are not equal to each other, otherwise it returns `False`.

In [40]:
# Below we compare whether 5 is not equal to 10

5 != 10

True

In [41]:
# Below we compare whether 200 is not equal 100

200 != 100

True

# Greater than operator `>`

This operator returns `True` if the value on the left side of operator (>) is bigger than the value on the right side of the operator and `False` if otherwise.

In [42]:
# is 100 greater than 30?

100 > 30

True

Since `100` is greater than `5`, the result is `True`

In [43]:
# is -60 greater than 50?

-60 > 50

False

The answer is False. 50 is greater than -60

In [44]:
# is -6 greater than - 5?

-6 > -5

False

As you can see, $-6$ is less than $-5$.

# Less than operator `<`

This operator returns `True` if the value on the left side of the operator (<) is smaller than value on the right side of the operator and `False` if otherwise.

In [45]:
# is 100 less than 1000

100 < 1000

True

The result of the above expression is True since 100 is less than 10000

In [46]:
# is -6 less than - 5?

-6 < -5

True

As you can see,  −6  is less than  −5 .

# Class activity

Write a code to compare if the reverse of the above code still holds i.e. 1000 < 100

# Greater than or equal to operator  `>=`

This operator returns `True` if the value on the left side of the operator (>=) is bigger than or equal to the value on the right side of the operator and `False` if otherwise.

In [47]:
# Below we compare whether 100 is greater than or equal to 1000

100 >= 1000

False

Since 100 is not greater than or equal to 1000, the result is False

In [48]:
# Below we compare whether 60 is greater than or equal to 45

60 >= 45

True

In [49]:
# We compare whether 100 is greater than or equal to 100

100 >= 100

True

# Less than or equal to operator `<=`

This operator returns `True` if the value on the left side of the operator (`<=`) is smaller than or equal to the value on the right side of the operator and `False` if otherwise.

In [50]:
# is  100 less than or equal to 1000 ?

100 <= 1000

True

Yes, 100 is less than or equal to 1000

# Data Types in Python

Since Python is an object-oriented programming language. That is, we have many different objects in Python. The most common ones are strings, integers, floats, and boolean.

- Words or texts in Python are known as strings (str for short) e.g. "Lagos", "Male", "Corona virus"

- Number without decimal are known as integers (int for short) e.g. $-1, 0, 9$

- Number with decimal are known as floats e.g. $3.142, -1.6, 4.2$ 

- Value with either True or False are known as boolean (bool for short)

![](Images/dtypes1.png)

Python can tell you the data type by using `type()` function. Python refers to integers as `int`, floats as `float`, character or text as `str` and boolean as `bool`.

# Integer data type

Integers are numerical (number) values that are positive or negative whole numbers without decimals

# Example

In [51]:
type(20)

int

In [52]:
type(2)

int

In [53]:
type(2021)

int

# Float data type

Float (floating point) numbers are numbers with a decimal point.

## Example

In [54]:
type(3.142)

float

In [55]:
type(11.124)

float

In [56]:
type(-2021.2)

float

# String data type

Characters or texts are known as string in Python. A string object must be inside a single or double quotation. Otherwise, Python will throw an error.

# Example 1

In [57]:
"I am from Ogun state"

'I am from Ogun state'

In [58]:
type("I am from Ogun state")

str

As you just learnt, this is a string(`str`) data type.

## Example 2

In [59]:
I am from Shagamu

SyntaxError: invalid syntax (<ipython-input-59-6840cd560b6e>, line 1)

There is a `SyntaxError` because we don't put I am from Lagos state in a quotation. Now, Let's correct the error by putting the texts in a double quotation.

In [60]:
"I am from Shagamu"

'I am from Shagamu'

In [61]:
type("I am from Shagamu")

str

# Example 3

In [62]:
"Python is so simple"

'Python is so simple'

# Tips

It is common to see most Python user using the function `print()` in their line of codes. For now, all you need to know is that it instructs python on what to print.

In [63]:
print("Hello, I am from Kano and I can speak Hausa")

Hello, I am from Kano and I can speak Hausa

In [64]:
print(type("Hello, I am from Kano and I can speak Hausa"))

<class 'str'>

In [65]:
print(4+6)

10

In [66]:
print(type(14.6))

<class 'float'>

## Boolean data type

A boolean or bool is an object in python that can take two values i.e. `True` or `False`.

# Tips 

Values of a boolean must always start with a capital letter and then followed by small letters. This allows the programming language to identify the value as a boolean. When we check the type of `True` or `False`, the result is a `bool` which represents the boolean data type.

In [67]:
# To check the data type

type(True)

bool

In [68]:
# To check the data type

type(False)

bool

As we know some operations can result to boolean data type. For example:

In [69]:
8 > 6

True

In [70]:
6 < - 10

False

In [71]:
"Ibadan" != "Abeokuta"

True

In [72]:
"Lagos" == "Kano"

False

# Variable assignment

In the simplest terms, a variable is a way at which a programmer stores a value so that it can be used over and over without having to repeat oneselve. A variable is just like a container that stores a value. For example, In the image below, `age` is a variable that stores the value of $15$ or the value of $15$ is stored into the variable age. Also, `country` is a variable that stores or hold the value of **"Nigeria"**. The equal operator (sign) is called an assignment.

# Example 1

In [73]:
age =  15

To access what is in the variable `age`, you can do that by putting the name of the variable in the `print()` function or simple type the name of the variable without a `print()` function.

In [74]:
print(age)

15

In [75]:
age

15

We can also access the kind of data type in the variable age.

In [76]:
type(age)

int

The value store in the variable `age` is an integer (`int`) data type

# Example 2

In [77]:
country = "Nigeria"

In [78]:
print(country)

Nigeria

In [79]:
type(country)

str

The value stored in a variable `country` is a string (`str`) data type

# Class activity (Peer discussion)

What is your name? Assign the value to the variable `name`

How old are you? Assign the value to the variable `age` 

Are you a male or female? Assign the value to the variable `gender`

Which state are you coming from? Assign the value to the variable `state`

What language can you speak? Assign the value to the variable `language` 

True or False, do you smile today? Assign the value to the variable `smile`

---

The list of the variables to create and assign values to are:

`name`

`age`

`gender`

`state`

`language`

`smile`

# Tips

Programming is about automating mundane tasks that otherwise would have taken ages! It also makes sense for the programmer to make their work easier by having a single representation of knowledge at only one point of the programme. This in turn makes it easier to understand code and reduce the number of lines one has to write and hence saves time!

When a value is stored in a variable, you can then use that variable to do further calculation

# Example 1

In [80]:
# Age now

age = 15

age

15

In [81]:
# Next year age

age + 1

16

In [82]:
# Age last two years

age - 2

13

# Example 2

In [83]:
# Assigning values to Variables

x = 2

y = 3

z = 4

In [84]:
x + y

5

In [85]:
z - x - y

-1

In [86]:
x * z

8

In [87]:
x ** 2

4

In [88]:
z % y

1

In [89]:
divmod(z, x)

(2, 0)

# Example 3

We can assign multiple values to multiple variables at the same time in Python

In [90]:
name, age, gender, city = "Jamal", 16, "Male", "Abeokuta"

In [91]:
print(name)

print(age)

print(gender)

print(city)

Jamal
16
Male
Abeokuta

# Naming rules for variables

It is good practice to give meanigful variable name so that when someone else or you in future can understand what you were trying to accomplish. The best naming convention is to choose a variable name that will tell the reader of the program what the variable represents.

## Rules for naming variables 

- All variables must begin with a letter of the alphabet

- After the initial letter, variable names can also contain underscore (_), and/or numbers. No spaces or special characters, however are allowed

- Uppercase strings are different from lowercase string in Python

# Example

![](Images/var_name.png)

# Class activity (Peer discussion)

Discuss among your colleagues why some variable names in the example are acceptable and why some are not acceptable in Python

# Data type conversions

Python allows us to convert objects from one data type to another. For example you may need to convert a `float` to an integer (`int`). In programming this is called typecasting and has a lot of very many useful applications as will be shown later.

# Tips

When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e. 0.1)

# Example 1

Let us convert an integer `9` into a float i.e. `int` to `float`. First assign the value of 9 to a variable `nigeria_naira`.

In [92]:
nigeria_naira = 9

Let us check the data type in the variable `nigeria_naira` by using `type()` function

In [93]:
type(nigeria_naira)

int

Now that we are sure that the value in the variable `nigeria_naira` is an integer (`int`) data type. So, we can convert it to a float data type by using a `float()` function. Save the result as `nigeria_naira_float`

In [94]:
nigeria_naira_float = float(nigeria_naira)

In [95]:
type(nigeria_naira_float)

float

As you can see, we have cast the  integer (int) to a float data type

# Example 2

Let us try and convert a float to an integer. As we said above, we will end up losing information so you should be careful about this type of conversion.

**Convert $9.345$ to an integer**

In [96]:
int(9.345)

9

The result of the above code is 9, i.e. we lose 0.345 which is a lot of information. For example if it was an amount of money transfer, it would be potentially wrong to report that the amount was 9 and not 9.345.

# Example 3

We can also convert a pure number that is recognised as string (`str`) due to one reason or the other to float or an integer. This is only possible when the string looks like an `int` or a `float` otherwise python will throw an error

In [97]:
# Convert a string into an integer

age = "20"

type(age)

str

Because the value of age is in a quotation, therefore, Python sees this as a string. We can convert the value in age to an integer by using `int()` function.

In [98]:
# Converting an inperfect string to an integer

new_age = int(age)

type(new_age)

int

We can also convert other data types to strings e.g.

In [99]:
# Convert a float to string
str(9.7)

'9.7'

In [100]:
# Convert an int to a string
str(6)

'6'

In [101]:
# A mixture of number and a string

int("179 hours")

ValueError: invalid literal for int() with base 10: '179 hours'

This throws an error because this is not a pure number

# Tip

Strings can be represented by both single quotes `''` or double quotes `" "`. However, you can't mix them both ie. `"'` or `'"`

# Example 4

In our introduction to boolean data type, we said that boolean can take two values `True` or `False`. It is often common in practise to represent `1` as `True` and   `0` as `False`. This can be seen when we convert booleans to integer (`int`) or `float`.

In [102]:
# Convert False to integer

int(False)

0

In [103]:
# Convert True to integer

int(True)

1

In [104]:
# Convert integer 1 to bool

bool(1)

True

In [105]:
# Convert integer 0 to bool

bool(0)

False

# Logical operators

In the last section we talked about some mathematical operators such as `+`, `-`, `*`, `/`, `**`, and `%` and comparison operators such as `==`, `!=`, `>`, `>=`, `<`, and `<=`. In this section, you will learn about logical operators.

Logical operators test whether an expression is `True` or `False`. There are three types of logical operators namely `and`,  `or`,  `not`.

1. `and` - This operator return a False when it encounters a `False` condition

2. `or` -  This operator returns a True when it encounters at least a `True` condition

3. `not`-  This operator returns `True` if the condition is `False` and `True` if the condition is `False`

# Example 1: Using the `and` operator

We define a variable `mins` to represent the number of minutes a money transfer transaction from GTB to First bank takes to be completed.

In [106]:
mins = 3

In [107]:
# Run this cell to see the outcome

mins < 7 and mins < 1

False

Since the two expressions are both False i.e. 

`mins < 7`  is `False`  

`mins < 1` is `False` 

Therefore, `mins < 7 and mins < 1` will be `False`

In [108]:
# To cross check

False and False

False

# Example 2: Using the `or` operator

We define a variable `year` to represent the number of years Dr Bayo Adekanmbi has been living in Lagos

In [109]:
year = 12

In [110]:
# Run this cell to see the outcome

year == 12 or  year < 10

True

Since one expression is True i.e. 

`year == 12 `  is `True`  

`year < 10 ` is `False` 

Therefore, `year == 12 or  year < 10` will be `True`

# Class activity (Peer to peer interaction)

What will be the result of the following expressions?:
    
`minute = 18`

`minute < 7 and minute < 1`

# Example 3: Using the `not` operator

We define a variable `mins` to represent the number of minutes a money transfer transaction from FCMB to Wema bank takes to be completed.

In [111]:
mins = 10

In [112]:
mins > 5

True

In [113]:
not mins > 5

False

As you know, anything that is not `True` is `False`! For example:

In [114]:
not True

False

In [115]:
not False

True