![](Images/banner.jpeg)

# String manipulation and data structure in Python

## What you stand to gain in this unit

Upon completion of this study unit, you should be able to:

- Manipulate string in Python

- Create data structure such as list, and tuple

- Work with list and tuple's methods to perform some tasks

### Python Variable Data Types 


<img src ="Images/Dtypes.png" alt="Drawing" width="800" />

Source: *[FireBlaze](https://www.fireblazeaischool.in/blogs/data-types-in-python/)*. 

In this section, we will be talking on different data types in python which will be explained below.

# String Manipulation in Python

# Python Strings

**A string is an ordered sequence of characters**. Two key words here, **ordered** and **characters.** Ordered means that we will be able to use *indexing* and *slicing* to grab elements from the string.

## Creating strings.

In [1]:
# Single or double quotes are okay.
"Hi, welcome to string manipution in Python"

'Hi, welcome to string manipution in Python'

In [2]:
"Hello, our super teachers!"

'Hello, our super teachers!'

In [3]:
# Use another set of quotes to capture that inside single quote
"I'm a beginner in python programming!"

"I'm a beginner in python programming!"

## Basic Printing of Strings

In the jupyter notebook, a single string in a cell is automatically returned back. However, this is different than printing a string. Printing a string allows us to have multiple outputs. Let's see some useful examples:

In [4]:
'test'

'test'

In [5]:
'one'

'two'

'two'

In [6]:
print('one')

print('two')

one
two

In [7]:
print('this is a new line \nnotice how this is on another new line')

this is a new line
notice how this is on another new line

In [8]:
print("Python Code")
print('this is a tab\t notice how this prints with space between')

Python Code
this is a tab	 notice how this prints with space between

## Indexing and Slicing

Since strings are *ordered sequences* of characters, it means we can "select" single characters (indexing) or grab sub-sections of the string (slicing).

### Indexing

Indexing starts a 0, so the string hello:

    character:    h    e    l   l   o
    index:        0    1    2   3   4
    
You can use square brackets to grab single characters

In [9]:
word = "hello"

print(word)

hello

In [10]:
word[0]

'h'

In [11]:
word[3]

'l'

Python also supports reverse indexing:

    character:        h     e     l    l    o
    index:            0     1     2    3    4
    reverse index:    0    -4    -3   -2   -1  
    
Reverse indexing is used commonly to grab the last "chunk" of a sequence.

In [12]:
word[-2]

'l'

## Slicing

We can grab entire subsections of a string with *slice* notation.

This is the notation:

    [start:stop:step]

Key things to note:

1. The starting index direclty corresponds to where your slice will start
2. The stop index corresponds to where you slice will go up to. **It does not include this index character!**
3. The step size is how many characters you skip as you go grab the next one.

Let's see some examples

In [13]:
alpha = 'abcdef'

In [14]:
# NOTICE HOW d IS NOT INCLUDED!
alpha[0:3]

'abc'

In [15]:
alpha[0:4]

'abcd'

In [16]:
alpha[2:4]

'cd'

In [17]:
alpha[2:]

'cdef'

In [18]:
alpha[:2]

'ab'

In [19]:
alpha[0:6:2]

'ace'

## Basic String Methods

Methods are actions you can call off an object usually in the form `.method_name()` notice the closed parenthesis at the end. Strings have many methods which you can use. Infact, you can get a list of them by putting a dot(.) at the end of already assigned string and press a Tab key on your keyboard. Let's see some of them with examples.

![](Images/string_method.png)

In [20]:
basic = "hello world, I am still a beginner pythonista"

# `.upper()`

`.upper()` will convert the string to upper case.

In [21]:
basic.upper()

'HELLO WORLD, I AM STILL A BEGINNER PYTHONISTA'

# `.lower()`

`.lower()` will convert the string to lower case.

In [22]:
basic.lower()

'hello world, i am still a beginner pythonista'

# `.capitalize()`

`.capitalize()` make the first character have upper case and the rest lower case.

In [23]:
basic.capitalize()

'Hello world, i am still a beginner pythonista'

# `.title()`

`.title()` will capitalize each word in a string.

In [24]:
basic.title()

'Hello World, I Am Still A Beginner Pythonista'

# `.split()`

`.split()` will split each character in the string.

In [25]:
basic.split()

['hello', 'world,', 'I', 'am', 'still', 'a', 'beginner', 'pythonista']

# Print Formatting

You can use the .format() method off a string, to perform what is formally known as **string interpolation**, essentially inserting variables when printing a string.

In [26]:
user_name = "Newbie"

password = 12345

action = "learn"

In [27]:
print("Welcome {} and your password is {}".format(user_name, password))

Welcome Newbie and your password is 12345

### F-string

In [28]:
print(f"The {user_name} needs to {action}")

The Newbie needs to learn

---

In [29]:
name = "Mr Ilori"

In [30]:
profession = "teacher"

In [31]:
city = "Abeokuta"

In [32]:
gender = "he"

In [33]:
print(f"{name} is a {profession} and {gender} lives in {city}")

Mr Ilori is a teacher and he lives in Abeokuta

# Input and output function

`input()` and `print()` functions are widely used for standard input and output operations respectively in Python. 

There are many cases where we might want to take the input from the user. In Python, we have the input() function that allows for this. You can get an input from a user and then save that as a variable that can be used later in your program with the help of `input()` function.

# Example 1

This program will ask you of your name. Please respond by typing your name, then, press enter button on your keyboard.

In [34]:
name = input("What is your name?")

print(name)

What is your name? Seun

Seun

Any variable that comes as a result of `input()` will always be a string data type.

# Example 2

In [35]:
name = input("What is your name?")

print(name)

type(name)

What is your name? Seun

Seun

str

# Example 3

The code below when run will ask of your name, please supply your name to it:

In [36]:
name = input("What is your name?")

print(f"My name is {name}")

print(f"{name} is of type {type(name)}")

What is your name? Seun

My name is Seun
Seun is of type <class 'str'>

# Example 4

This  program will ask of your name, your age, and your country. It will then print for example, `My name is Lynda, I am 31 years old, and I am from Imo`.

In [37]:
name = input("What is your name?")

age = input("How old are you?")

state= input("What is the name of your state?")

print(f"My name is {name}, I am {age} years old, and I am from {state}")

What is your name? Seun
How old are you? 28
What is the name of your state? Ogun

My name is Seun, I am 28 years old, and I am from Ogun

# Example 5

In [38]:
name = "Opeyemi"

print("My name is", name)

My name is Opeyemi

# Example 6

In [39]:
name = "Opeyemi"

print(f"My name is {name}")

My name is Opeyemi

# Lists

We've learned that strings are sequences of characters. Similarly, lists are sequences of objects, they can hold a variety of data types in order, and they follow the same sequence and indexing bracket rules that strings do. We can create a list by puting all items or elements in a square bracket `[]` where each element is being seperated by a comma. The items or elements in a list can be of any data types i.e. floats, integers, strings, boolean or there combination.

Let's explore some useful examples:

In [40]:
# An empty list

alist = []

type(alist)

list

In [41]:
my_list = [1, 2, 3]

In [42]:
my_list

[1, 2, 3]

In [43]:
a = 100

b = 200

c = 300

my_list3 = [a, b, c]

# List of integers

In [44]:
ages = [21, 23, 16, 6, 76, 7]

In [45]:
ages

[21, 23, 16, 6, 76, 7]

In [46]:
type(ages)

list

# List of float

In [47]:
time = [2.23, 1.59, 4.18, 3.51]

In [48]:
time

[2.23, 1.59, 4.18, 3.51]

In [49]:
type(time)

list

# List of string

In [50]:
country = ["Lagos", "Ibadan", "Osun", "Kwara"]

In [51]:
country

['Lagos', 'Ibadan', 'Osun', 'Kwara']

In [52]:
type(country)

list

# Mixed lists

In [53]:
Mixed = [90, 2.5, 'Ezekiel', 123, 0.75, True, False]

In [54]:
Mixed

[90, 2.5, 'Ezekiel', 123, 0.75, True, False]

In [55]:
type(Mixed)

list

## Nested Lists

Lists can hold other lists! This is called a nested list. 

## Examples

Let's see some examples:

In [56]:
new_list = [1, 2, 3, ['a', 'b', 'c']]

In [57]:
new_list

[1, 2, 3, ['a', 'b', 'c']]

In [58]:
type(new_list)

list

In [59]:
northcentral_southwest = [["Benue", "Kogi", "Kwara", "Nasarawa", "Niger", "Plateau", "FCT"],
                          ["Ekiti", "Lagos", "Ogun", "Ondo", "Osun", "Oyo"]]

In [60]:
northcentral_southwest

[['Benue', 'Kogi', 'Kwara', 'Nasarawa', 'Niger', 'Plateau', 'FCT'],
 ['Ekiti', 'Lagos', 'Ogun', 'Ondo', 'Osun', 'Oyo']]

In [61]:
type(northcentral_southwest)

list

# The range() function

We can also generate a list of sequence of numbers by using `range()` function. For example, `range(12)` will generate numbers from $0$ to $11$ ($12$ numbers).

The range function also has the `start`, `stop` and `step size` i.e. `range(start, stop,step_size)`. The `step_size` is $1$ if not provided. The range object is "lazy" and does not store all the values in the memory. So it remembers the `start`, `stop`, `step_size`.

# Examples

In [62]:
range(10)

range(0, 10)

In [63]:
range(2, 8)

range(2, 8)

In [64]:
range(2, 20, 3)

range(2, 20, 3)

To force this function to output all the items, we can use the function `list()`.

# Examples

In [65]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

As you know, the data type is a list

In [66]:
type(list(range(10)))

list

In [67]:
list(range(2, 8))

[2, 3, 4, 5, 6, 7]

In [68]:
list(range(2, 20, 3))

[2, 5, 8, 11, 14, 17]

# The len function

We can get the number of elements in a list by using `len()` function.

## Examples

In [69]:
Mixed = [90, 2.5, 'Ezekiel', 123, 0.75, True, False]

len(Mixed)

7

In [70]:
country = ["Lagos", "Ibadan", "Osun", "Kwara"]

len(country)

4

In [71]:
northcentral_southwest = [["Benue", "Kogi", "Kwara", "Nasarawa", "Niger", "Plateau", "FCT"],
                          ["Ekiti", "Lagos", "Ogun", "Ondo", "Osun", "Oyo"]]

In [72]:
len(northcentral_southwest)

2

In [73]:
new_list = [1, 2, 3, ['a', 'b', 'c']]

len(new_list)

4

# Indexing and Slicing

This works the same as the indexing and slicing of a string.

# Example 1

In [74]:
mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, "Opeyemi", "Lynda"]

In [75]:
mylist[3]

123

In [76]:
mylist[0:3]

[90, 2.5, 'GBGAnalyst']

# Example 2

In [77]:
new_list = [1, 2, 3, ['a', 'b', 'c']]

In [78]:
new_list[0]

1

In [79]:
new_list[3]

['a', 'b', 'c']

In [80]:
new_list[3][0]

'a'

# Example 3

In [81]:
list_1 = [2, 3, "four", [20, 30, 40, ["one", "two", "three"]]]

In [82]:
list_1[3]

[20, 30, 40, ['one', 'two', 'three']]

In [83]:
list_1[3][3]

['one', 'two', 'three']

In [84]:
list_1[3][3][1:]

['two', 'three']

## Immutability

List is immutable, That is you can change the element of a list to another.

# Example 1

In [85]:
mylist = [1, 2, 3, 4, 5]

In [86]:
mylist[0]

1

In [87]:
mylist[0] = 9

In [88]:
mylist

[9, 2, 3, 4, 5]

As you can see, we have changed the first element in a list from $1$ to $9$.

# Example 2

In [89]:
another_list = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, "No"]

In [90]:
another_list[2]

'GBGAnalyst'

In [91]:
another_list[2] = "Ezekiel"

In [92]:
another_list

[90, 2.5, 'Ezekiel', 123, 0.75, True, False, 'Lynda', True, 'No']

# List Methods

Methods are actions you can call from an objects. Their typical format is:

    mylist = [elements in a list]
    
    mylist.method()
    
You must call the parenthesis to execute the method! Let's go through a few methods that pertain to lists.

# .append( ) method

This appends or add an object to the end of the list

# Examples

In [93]:
mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, "No"]

In [94]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, 'No']

In [95]:
mylist.append(6)

In [96]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, 'No', 6]

In [97]:
mylist.append(4)

In [98]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Lynda', True, 'No', 6, 4]

In [99]:
mylist.append("Primary")

mylist.append("Secondary")

In [100]:
mylist

[90,
 2.5,
 'GBGAnalyst',
 123,
 0.75,
 True,
 False,
 'Lynda',
 True,
 'No',
 6,
 4,
 'Primary',
 'Secondary']

# .insert( ) method

`.insert()` method insert object before a given index position.

# Examples

In [101]:
mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']


mylist.insert(3, 'Ezekiel')

In [102]:
mylist

[90, 2.5, 'GBGAnalyst', 'Ezekiel', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

In [103]:
visited_countries = ["America", "Rwanda", "Singapore", "Italy", "Canada", "Mauritius"]

In [104]:
visited_countries.insert(0, "South Africa")

In [105]:
visited_countries

['South Africa',
 'America',
 'Rwanda',
 'Singapore',
 'Italy',
 'Canada',
 'Mauritius']

# .pop() method

`.pop()` method remove and return item at index (default last).

In [106]:
mylist = [90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda', [5, 9]]

mylist.pop()

[5, 9]

In [107]:
mylist

[90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

In [108]:
mylist.pop(0)

90

In [109]:
mylist

[2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

# .reverse() method

`.reverse()` method reverse the order of the list

In [110]:
your_list = [2.5, 'GBGAnalyst', 123, 0.75, True, False, 'Opeyemi', 'Lynda']

In [111]:
your_list.reverse()

In [112]:
your_list

['Lynda', 'Opeyemi', False, True, 0.75, 123, 'GBGAnalyst', 2.5]

In [113]:
visited_countries = ["America", "Rwanda", "Singapore", "Italy", "Canada", "Mauritius"]

visited_countries.reverse()

visited_countries

['Mauritius', 'Canada', 'Italy', 'Singapore', 'Rwanda', 'America']

# .sort() method

`.sort()` method sort the list in ascending order and return None

# Example 1

In [114]:
# Example 1

egg_weight = [59, 56, 61, 68, 52, 53, 69, 54, 57, 51]


egg_weight.sort()

In [115]:
egg_weight

[51, 52, 53, 54, 56, 57, 59, 61, 68, 69]

# Example 2

Data relating to the marks of 13 students in the Introduction to Python quiz are given below:

10, 15, 10, 9, 18, 16, 14, 12, 16, 13, 15, 20, 17.

Sort the marks in descending order.

In [116]:
marks = [10, 15, 10, 9, 18, 16, 14, 12, 16, 13, 15, 20, 17]

In [117]:
marks.sort(reverse = True)

In [118]:
marks

[20, 18, 17, 16, 16, 15, 15, 14, 13, 12, 10, 10, 9]

# Class activity

1. Create a list that contains the names of your best friends.

1. Use Python to access the third element in the name list.

1. How many friends are in your list?

# Tuples 

Tuples are ordered sequences just like a list, but have one major difference, they are **immutable**. That is, you can not *change* them. So in practice what does this actually mean? It means that you can not reassign an item once its in the tuple, unlike a list, where you can do a reassignment.

Just like the elements in a list are put in a square bracket `[ ]` seperated by a comma, elements in a tuple are enclosed in a parentheses or brackets `( )` separated by comma `,`.

# Tip

You use parenthesis and commas for a tuple

List is immutable while tupple is mutatable


# Examples

In [119]:
# An empty tuple

atuple = ()

type(atuple)

tuple

In [120]:
t = (3, 2)

t

(3, 2)

# Tuple of integers

In [121]:
ages = (23, 2, 45, 6, 76, 7)

In [122]:
type(ages)

tuple

# Tuple of float

In [123]:
marks = (23.1, 20.8, 25.1, 17.9)

In [124]:
type(marks)

tuple

# Tuple of string

In [125]:
teachers_name = ("Ben", "Kunle", "Francisca", "Toyin", "Desire")

In [126]:
type(teachers_name)

tuple

# Mixed Tuple

In [127]:
mixed_tuple = (21, 12.3, 33.6, 23.8, 9, "Lekan", True, False)

In [128]:
type(marks)

tuple

# Nexted tuple 

This is also known as a tuple of tuple

In [129]:
nexted = ("Ethopia", (1, 2.5, 6), ('Kenya'), (1, 22, 14, 15))

In [130]:
type(nexted)

tuple

# The len function

We can get the number of elements in a tuple by using `len()` function.

## Example 1

In [131]:
mixed_tuple = (21, 12.3, 33.6, 23.8, 9, "Lekan", True, False)

In [132]:
len(mixed_tuple)

8

## Example 2

In [133]:
nexted = ("Ethopia", (1, 2.5, 6), ('Kenya'), (1, 22, 14, 15))

len(nexted)

4

# Indexing and Slicing

This works the same as the indexing and slicing of a list.

# Example 1

In [134]:
mytuple = (90, 2.5, 'GBGAnalyst', 123, 0.75, True, False, "Opeyemi", "Lynda")

In [135]:
mytuple[3]

123

In [136]:
mytuple[0:3]

(90, 2.5, 'GBGAnalyst')

# Example 2

In [137]:
new_tuple = (1, 2, 3, ('a', 'b', 'c'))

In [138]:
new_tuple[0]

1

In [139]:
new_tuple[3]

('a', 'b', 'c')

In [140]:
new_tuple[3][0]

'a'

## Mutability

While list is immutable, tuple is not. That is you can't replace element of a tuple.

# Examples

In [141]:
mytuple = (1, 2, 3)

In [142]:
mytuple[0] = 9

TypeError: 'tuple' object does not support item assignment

As you can see, you can't add or change element of a tuple:

None of the methods in a list can work in tuple.

In [143]:
mytuple.append('NOPE!')

AttributeError: 'tuple' object has no attribute 'append'

## Tuple methods

Tuples only have two methods available `.index()` and `.count()`

`.index()` returns the index of value.

`.count()` returns number of occurrences of value

In [144]:
t = ("a", "b", "a",  "c", "a")

In [145]:
t.index("b")

1

In [146]:
t.count("a")

3

## Why use tuples?

Lists and tuples are very similar, so you may find yourself exchanging use cases for either one. However, you should use a tuple for collections or sequences that shouldn't be changed, such as the dates of the year, or user information such as an address, street, city , etc.

# Class activity

1. Create a tuple, `students_name`, that includes the names of your best students in the class.

1. Use Python to access the third element in the `students_name`.

1. What is the length of the tuple, `students_name` that you created`?